%ul.personal_account
 %li.select
  %a{:href=>"#"} История
 %li
  %a{:href=>"#"} Пополнение
 %li
  %a{:href=>"#"} Договора
 %li
  %a{:href=>"#"} Акты
.personal_account
 На лицевом счете: #{10000.to_s} руб.
.content_header Отложенные услуги
%table.deferred_services
 %tr.heading
  %td Услуга
  %td Сумма
  %td Статус
 %tr
  %td
   %span.term Разработка дизайн-проекта
   %span.term_info Заказ от #{Date.new(2013, 01, 23).to_s}
   %span.order
    %a{:href=>"#"}Заказать
  %td #{50000} руб.
  %td
   Не оплачен 
   %br по счету 
   %br №18003/2
           
.content_header История пополнения и расхода
%table.history_recharge
 %tr.heading
  %td Дата
  %td Сумма
  %td Услуга
  %td Статус
 %tr
  %td 01.02.2013
  %td 20 000 руб.
  %td согласование
  %td Оплачен
 %tr.green
  %td 27.01.2013
  %td 25 000 руб.
  %td Пополнение
  %td Выполнено
 %tr
  %td 23.01.2013
  %td 35 000 руб.
  %td согласование
  %td Оплачен
 %tr
  %td 19.01.2013
  %td 20 000 руб.
  %td согласование
  %td Оплачен
 %tr.green
  %td 15.01.2013
  %td 60 000 руб.
  %td Пополнение
  %td Выполнено



<div id="maincontent_specialist" class="rounded-corners_l4">
        <div id="main_content_specialist_inside">

        <div class="sidebar_left_specialist">
                        <div class="name rounded-corners">NAME</div>
                <div class="events rounded-corners">
                        <span class="heading_event">ПОСЛЕДНИЕ СОБЫТИЯ</span>
                        <ul class="last_events">
                        <li><span>25.04.2013</span>  Отправлены варианты планировки для LEX</li>
                        <li><span>15.04.2013</span>  Заказ от Lex в работе</li>
                        <li><span>13.04.2013</span>  Новый заказ</li>
                        <li><span>11.04.2013</span>  Поступление денежных средств на лицевой счет</li>
                        <li class="last"><span>10.04.2013</span>  Выполнен заказ от STIFF</li>
                    </ul>
                </div>
         </div>
  
        <div class="page_contener_specialist">
                <div class="header_page_specialist orrange_header">ЛИЦЕВОЙ СЧЕТ</div>

                        <div class="personal_account_specialist">
                        <ul class="personal_account">
            <li class="select"><a href="#">История</a></li>
            <li><a href="#">Пополнение</a></li>
            <li><a href="#">Договора</a></li>
            <li><a href="#">Акты</a></li>
            </ul>

            <div class="personal_account">
            На лицевом счете:     10 000 руб.
            </div>

            <div class="content_header">Отложенные услуги</div>
            <table class="deferred_services">
            <tr class="heading"><td>Услуга</td> <td>Сумма</td> <td>Статус</td></tr>
            <tr><td><span class="term">Разработка дизайн-проекта</span><span class="term_info">Заказ от 23.01.2013</span></td> <td>50 000 руб.</td> <td>Не оплачен <br>по счету <br>№18003/2</td></tr>
            </table>

            <div class="content_header">История пополнения</div>
            <table class="history_recharge">
            <tr class="heading"><td>Дата</td> <td>Сумма</td> <td>Услуга</td><td>Статус</td></tr>
            <tr><td>01.02.2013</td> <td>20 000 руб.</td> <td>согласование </td><td>Оплачен</td></tr>
            <tr class="green"><td>27.01.2013</td> <td>25 000 руб.</td> <td>Пополнение</td><td>Выполнено</td></tr>
            <tr><td>23.01.2013</td> <td>35 000 руб.</td> <td>согласование </td><td>Оплачен</td></tr>

