- if User.current.specialist?
  = render partial: 'profiles/specialist/form', locals: {profile: resource}
- elsif User.current.client?
  = render partial: 'profiles/client/form', locals: {profile: resource}
