<div class="page_description plan_refactoring">
  <span class="plan_refactoring">Согласование перепланировок</span>
</div>

<div class="msg_caution">
  <span class="plan_refactoring">ВНИМАНИЕ! Согласование проводится у генпроектировщика и <br>эксплуатирующей организации!</span>
</div>

<%= render 'form' %>