.msg_caution
  %span.plan_refactoring ВНИМАНИЕ! Согласование проводится у генпроектировщика и <br>эксплуатирующей организации!

= render partial: 'form', locals: {replanning_endorsement: resource, disabled: false}
