.sortBy
  .sortCaption Сортировать по
  .sortByRate
  .sortByReviews
  /.ShowN
  /  .showCaption Выводить по:
  /  %form{:name => "ShowMe"}
  /    %input.showSpecs{:name => "ShowN", :type => "number"}
  .clearfloat

- @specialists.each do |specialist|
  .Specialist
    = render specialist
  .specPortfolio
    = render specialist.portfolio_items.first(3).map(&:preview_photo)
