.wtf{style: 'clear: both;'}
.sortBy
  .sortCaption Сортировать по
  .sortByRate
  .sortByReviews
  .ShowN
    .showCaption Выводить по:
    %form{:name => "ShowMe"}
      %input.showSpecs{:name => "ShowN", :type => "number"}/
  .clearfloat

- @specialists.each do |specialist|
  .Specialist
    = render specialist
  .specPortfolio
    = render specialist.portfolio_photos.first(3)