#header
  .lighter_bar
  = link_to root_url do
    #designService.headerLayer1
  %ul.text_shadow_1
    %li.shadow_x3
      %a{:href => plan_developments_path}
        %span
          Разработка
          = succeed "вариантов" do
            %br/
          планировок
    %li.shadow_x3
      %a{:href => replanning_endorsements_path}
        %span Согласование перепланировки
    %li.shadow_x3
      %a{:href => design_projects_path}
        %span Дизайн-проекты
    %li.shadow_x3
      %a{:href => engineering_systems_path}
        %span
          Инженерные
          = succeed "системы" do
            %br/
          и конструкции
