@charset "utf-8";
/* CSS Document */

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */

ul.nav {
	list-style: none; /* this removes the list marker */
	border-top: 1px solid #666; /* this creates the top border for the links - all others are placed using a bottom border on the LI */
	margin-bottom: 15px; /* this creates the space between the navigation on the content below */
}
ul.nav li {
	border-bottom: 1px solid #666; /* this creates the button separation */
}

ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 5px 5px 5px 15px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	width: 160px;  /*this width makes the entire button clickable for IE6. If you don't need to support IE6, it can be removed. Calculate the proper width by subtracting the padding on this link from the width of your sidebar container. */
	text-decoration: none;
	background-color: #C6D580;
}
/ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background-color: #ADB96E;
	color: #FFF;
}


.content {
	position:relative;
	padding: 10px 0;
	width: 640px;  /*original 680 px  but 980 -20x2 (bgPadding) -292px (sidebar1) - 8 (spaceBeetween) */
	float: left;
	z-index:1;
	background-color:#ededed;
}
/*ThisPageContent */


	/*Order Frames */
.TargetOrder{
	width:560px;
	height:255px;
	font-size:12pt;
	/*background:url(../images/ClientCabinetOrderCheckOut.png);
	margin:5px auto;*/
	margin-left:40px;
	border-width:8px;
	position:relative;
	border-style:solid;
	margin-bottom:66px;
	border-color:#e8d994;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	behavior:url(scripts/PIE.htc);	
}
.DesignProjectOrder{
	border-color:#efd4c2;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-width:8px;
	border-radius:50px;
	behavior:url(scripts/PIE.htc);	
}
.DesingContainer{
	width:560px;
	height:255px;
	font-size:12pt;
	/*background:url(../images/ClientCabinetOrderCheckOut.png);
	margin:5px auto;*/
	margin-left:40px;
	border-width:8px;
	position:relative;
	border-style:solid;
	border-color:#efd4c1;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	behavior:url(scripts/PIE.htc);	
}
	/*3 OtherOrder Types There*/

.MainDateContainer{
	/*background:url(../images/ClientCabinetDateContainer.png) no-repeat;*/
	/*width:140px;*/
	height:50px;
	position:absolute;
	top:50px;
	right:60px;
	text-align:right;
	font-size:12pt;
}


	/*Order Frames Content */

.OrderName{
	position:absolute;
	left:20px;
	top:20px;
	font-size:12pt;
}
.FinishDate{
	position:absolute;
	text-align:right;
	width:197px;
	top:90px;
	right:60px;
}
.CompletedPart{
	position:absolute;
	top:160px;
	left:250px;
	float:right;
	text-align:center;
	line-height:28px;
	vertical-align:middle;
	font-size:12pt;
}
.ProgressBarContainer{
	position:absolute;
	left:90px;
	top:0;
	text-align:center;
}

.TargetOrderName{
	color:#752316;
	text-decoration:underline;
	font:14pt;
}
.DesingProjectAuthors{
	color:#4c4c4c;
	position:absolute;
	left:20px;
	top:45px;
	font-size:14pt;
}
.OrderStatus{
	color:#4c4c4c;
	position:absolute;
	left:20px;
	top:90px;
	font-size:14pt;
}
.toDate{
	position:absolute;
	top:25px;
	right:105px;
}

.RelatedDocsContainer{
	height:40px;
	positon:absolute;
	padding-left:50px;
	padding-top:200px;
}
a.osInWork{
	color:#6b140a;
}
a.contract{
	color:#568aa0;
}
a: visited{
	color:#ff0;
}
a: active{
	color:#cecece;
}
a.mdcDate{
	color:#668041;
}
.NeedForMoney{
	position:absolute;
	margin-left:375px;
	margin-top:145px;
}


.DocsList{
	display:inline;
	list-style:none;
	color:#4c4c4c;
	position:absolute;
	}
.cabinetTopNav{
	color:#d55400;
	margin-left:44px;
	margin-bottom:50px;
	margin-right:54px;
	background-color:#dbdbdb;
	width:560px;
	border-top:solid #767676;
	padding-left:15px;
	margin-top:21px;
	height:42px;
	line-height:42px;
	vertical-align:middle;
}
.caption{
	color:grey;
	padding: 0 0 0 50px;
	margin-top:37px;
	width: 600px;
	vertical-align:middle;
	font-size:24px;
}


			/*Progress Bar */
.ProgressBarContainer{
	width:192px;
	height:24px;
	background:#efefef;
	border-color:#b3b3b3;				/*USE MATH AND BRAINS * something fucked up with the border*/ 
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-style:solid;
	border-width:3px;
	border-radius:18px;
	behavior: url(scripts/PIE.htc);	
}
.ProgressFill{
	width:80%;
	background:#adc987;
	height:24px;
	border-color:#b3b3b3;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-width:3px;
	border-radius:12px;
	behavior: url(scripts/PIE.htc);	
	position:absolute;
	text-align:center;
}
