.portfWork
  .workCaption
    = portfolio_item.title
  .showMeWorkThere
    = image_tag portfolio_item.preview_photo.photo.thumb.url, class: 'portWorkPreview', alt: portfolio_item.preview_photo.title
  .workType
    = portfolio_item.specialization_text
    %span.workRate
      = portfolio_item.rating