/.Specialist
/  = render @specialist
/.toggle_like{data: {specialist: @specialist.id} }
/  = @specialist.toggle_like_text
/.specPortfolio
/  = render @specialist.portfolio_photos
/= link_to 'Edit', edit_specialist_path(@specialist)
/|
/= link_to 'Back', specialists_path

.caption.col_green.backgr_color_green
  %p ЙА БОЛВАНКО РЕГИСТРЕД ПЕЙДЖА
.manual
  %p Any text
= render resource