%h1 Editing engineering_system

= render :partial => 'form', :locals => {:engineering_systems => @engineering_system, :disabled => false}

= link_to 'Show', @engineering_system
\|
= link_to 'Back', engineering_systems_path
