%div{:class => 'block_inline'}
  %span{:style => 'width: 500px;'}
    Наименование организации, дата начала, дата окончания, страна, регион, город, должность, должностные обязанности
  %div{:style => 'margin-top: 10px;'}
    %input{:type => 'button', :class => 'button del_question_field', :value => 'Удалить', :style => ''}
    %input{:type => 'hidden', :value => @data.id}