%li.value_field
  %span.span_empty #{@index}.
  %input.textlines_default_light.textline_l14.backg_default_light.value_field{type:'text', name: "question_field[value_#{@index}-#{@data.question_id}]", :class => "value_field_#{@index}"}