%div{:class => 'block_inline'}
  %span{:style => 'width: 200px;'}
    Да или нет

  %div{:style => 'margin-top: 10px;'}
    %input{:type => 'button', :class => 'button del_question_field', :value => 'Удалить', :style => ''}
    %input{:type => 'hidden', :value => @data.id}