%span.logical_ques{style:'clear:both; margin-left:450px;'}
  %input#needed_true.radio_buttons.optional{checked: "checked", type: "radio", value: "true", name:"designer_needings"}
  %label.collection_radio_buttons{:for=>"needed_true"}Да     

  %input#needed_false.radio_buttons.optional{type: "radio", value: "true", name:"designer_needings"}
  %label.collection_radio_buttons{:for=>"needed_false"}Нет