= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  #forgot_password.rounded-corners.border_x2.shadow_x1
    .form-inputs
      E-mail
      %span= f.input_field :email, class: 'textlines_default textline_l7'
  .form-actions
    %input.not_ajax.submit{:type => 'image', :src => "#{ asset_path('postButton.png')}", :alt => "Отправить форму"}
