.artists
  Исполнители:
  %ul
    %li= order.executor
.completion
  %span.tit Завершения:
  %ul
    %li будет определена после оплаты
    %li= order.time_to_finish
.status
  Состояние:
  %span= order.title
.pay_now
.msg
  %span
    %a{:href=>"#", :data => {:messages_url => order_messages_path(order), :order_id => order.id, :order_url => url_for(order.orderable)} } Новое сообщение
.completed
  завершено
  .percentage_blocks
    %span.percentage
      %span.value_percent #{order.completion_percent}%
      %span.bar
.documents
  Документы:
  %ul
    %li
      %a{:href => ""} Договор
    %li
      %a{:href => ""} Акты
    %li
      %a{:href => ""} Оплата
