/ ------------------------------------------------- BLACK_PALET START MSGBOX--------------
#black_content
  #msg_dialog.shadow_x1.border_xs.rounded-corners
    .close_fly_window
    .order_name
    .left_bar
      %span.heading.gray_header Исполнители
      %span.photo
      %span.name
      .attachments_list
    .msg_content
      / -----------------------------------------
      = render partial: 'messages/message_in_chat', collection: messages, as: :message
      / -----------------------------------------
    .send_msg
      %form#msg_form
        %textarea.msg_sender{:cols => "", :name => "text", :rows => ""}
        = image_tag 'msg_send.jpg', name: 'submit', class: 'send_msg'
    .order_data_bottom
      %span
        %a{:href => "#"} Исходные данные
/ ------------------------------------------------- BLACK_PALET END MSGBOX--------------
