.black_content_blocks
  #msg_dialog.shadow_x1.border_xs.rounded-corners
    .close_fly_window
    .order_name
    .left_bar
      %span.heading.gray_header Исполнители
      %span.photo
      %span.name
      .attachments_list
    .msg_content
      = render partial: 'messages/message_in_chat', collection: messages, as: :message
    .send_msg
      = simple_form_for Message.new, remote: true, html: {class: 'msg_form'} do |f|
        = f.input_field :text, as: :text, class: 'msg_sender'
        = image_tag 'msg_send.jpg', name: 'submit', class: 'send_msg'
    .order_data_bottom
      %span
        %a{:href => "#"} Исходные данные
