.black_content_blocks
  #msg_dialog.shadow_x1.border_xs.rounded-corners
    .close_fly_window
    .order_name
    .left_bar
      %span.heading.gray_header Исполнители
      %span.photo
      %span.name
      .attachments_list
    .msg_content
      = render partial: 'messages/message_in_chat', collection: messages, as: :message
    .chat_form
      = simple_form_for Message.new, remote: true, html: {class: 'msg_form'} do |f|
        = f.input_field :text, as: :text, class: 'msg_sender'
        %input.send_msg{:type => 'image', :src =>"#{asset_path('msg_send.jpg')}", :alt => "Отправить"}
    .order_data_bottom
      %span
        .order_info Исходные данные
