/ .calcContainer{:data => {:order => order_id } }
/   .calcCaption
/   .calc
/     .count
/   .hint
/     %p
/       Ваш заказ обрабатывается. Ждите $time.
/       %br/
/       Получить уведомление на e-mail.

.calculator_area
  %ul
    %li
      Наш калькулятор посчитает предварительную стоимость заказа <br>исходя из Вашего задания на разработку вариантов планировок!
    %li
      Нажмите на ссылку и не закрывайте в течение 15 минут страницу!

  .calculator.border_x5.rounded-corners_l2.shadow_x2
    .form_description.order_price
    %span
      - unless @plan_development.order.calculated_price
        %span#count_start 
          %a.start{:href => start_count_plan_development_path(@plan_development.id, :format => :json)}УЗНАТЬ !
          %a.auto{:href => auto_price_plan_development_path(@plan_development.id, :format => :json)}

      %input{:name=>"calculator", :type=>"text", :class=>"total grey", :value=>@plan_development.order.calculated_price.to_s, :id=>"calculator", :readonly=>"readonly"}
    %span.count
  .order_zakaz
    %span
      ОФОРМИТЬ ЗАКАЗ
