- unless attachment.new_record?
  - if defined?(has_remove_button) && has_remove_button
    %span.delete_attachment{:data => {attachment_url: attachment_url(attachment, format: 'json')}}
  %span.attachment_link= link_to attachment.original_filename, download_attachment_path(attachment)
