.headerReg
  .Logo
    %a{:href => "#"}
      %img#Logo{:alt => "Design Serive", :name => "Design Service", :src => "images/logo-2.png"}/
  #topMenuContainer
    #topMenuBut1.topMenuBut
      #VarPlan.topMenuCaption
        Разработка
        %br/
        Вариантов
        %br/
        Планировок

    #topMenuBut2.topMenuBut
      .topMenuCaption
        Согласования
        %br/
        Перепланировок

    #topMenuBut3.topMenuBut
      .topMenuCaption
        Дизайн Проект

    #topMenuBut4.topMenuBut
      .topMenuCaption
        Авторское
        %br/
        Сопровождение
        %br/
        Строительства
        %br/

    .clearfloat
