.sidebar1
  .hiUserName
    .hiUserNameFloater
      Добро Пожаловать
      %br/
      = greating_name(current_user)
      (
      = link_to(t('user.session.signout'), destroy_user_session_path, :method => :delete)
      )
  = render 'application/layout_parts/cabinet_nav'
  #specialistMenuContainer.specMenu
    #specSelect
      ВЫБОР СПЕЦИАЛИСТОВ
    = render 'application/layout_parts/specialists_box'
  #calendar
    %p BLOW YOUR BRAIN
    %input#date{:type => "date"}/
    #date.calendarAnchor
