#footer
  #LeftFooter.FooterLeft
    %p
      Cвязаться с нами
      %br/
      Тел: +7 (495) 123 65 75
      %br/
      E-mail: info@design-service.ru
      %br/
  #CenterFooter.FooterCenter
    %p Дизайн-сервис 2012
  #RightFooter.FooterRight
    %p
      Партнеры:
      %br/
      Банк-Идей
      %br/
      ЙА Студия
      %br/
  / end #footer