#leftMenu.leftMenuContainer
  = link_to plan_developments_path do
    #PostVarPlan.leftMenuButton
      %p.leftMenuCaption
        Варианты
        %br/
        планировок
  = link_to replanning_endorsements_path do
    #PostDevAdjust.leftMenuButton
      %p.leftMenuCaption
        Согласование
        %br/
        перепланировок
  %a{:href => "DesignProject.html"}
  #PostDesignProj.leftMenuButton
    %p.leftMenuCaption
      Дизайн
      %br/
      проект
  %a{:href => "AuthorMaintance.html"}
  #PostAuthMaintance.leftMenuButton
    %p.leftMenuCaption
      Авторское
      %br/
      Сопровождение