#leftMenu.leftMenuContainer
  %a{:href => "PostVarPlan.html"}
  #PostVarPlan.leftMenuButton
    %p.leftMenuCaption
      Варианты
      %br/
      планировок
  %a{:href => "PlanRefactoring.html"}
  #PostDevAdjust.leftMenuButton
    %p.leftMenuCaption
      Согласование
      %br/
      перепланировок
  %a{:href => "DesignProject.html"}
  #PostDesignProj.leftMenuButton
    %p.leftMenuCaption
      Дизайн
      %br/
      проект
  %a{:href => "AuthorMaintance.html"}
  #PostAuthMaintance.leftMenuButton
    %p.leftMenuCaption
      Авторское
      %br/
      Сопровождение