#specMenuContainer.specMenu
  %a{:href => "SpecialistCategory.html"}
  #architect.specMenuButton
    %p.specMenuCaption{:style => "font-stretch:extra-expanded;"} Архитекторы
  %a{:href => "SpecialistCategory.html"}
  #Designer.specMenuButton
    %p.specMenuCaption Дизайнеры
  %a{:href => "SpecialistCategory.html"}
  #Enginere.specMenuButton
    %p.specMenuCaption Инженеры
  %a{:href => "SpecialistCategory.html"}
  #BuildCompany.specMenuButton
    %p.specMenuCaption Строительные фирмы
  %a{:href => "SpecialistCategory.html"}
  #BuildAshot.specMenuButton
    %p.specMenuCaption Строительные бригады
  / end specMenuContainer
