._razrabotka_var.rounded-corners{:class => "border_x2"}
  .date.rounded-corners_l3{:class => "border_x2"} 30.01.2013
  .name
    Наименование:
    %span Согласование перепланировки
  / <div class="artists">Исполнители: <ul><li>Журавлев Михаил </li><li>Новикова Мария</li></ul></div>
  .completion
    %span.tit Завершения:
    %ul
      %li.payid 3 недели
  .status
    Состояние:
    %span В работе
  .pay_now
    / <a href="">Оплатите заказ</a>
  .completed
    завершено
    .presentage_blocks
      %span.presentage
        %span.value_present 90%
        %span.bar
  .documents
    Документы:
    %ul
      %li
        %a{:href => ""} Договор
      %li
        %a{:href => ""} Акты
      %li
        %a{:href => ""} Оплата
