.artists
  Исполнители:
  %ul
    %li= order.executor
.completion
  %span.tit Завершения:
  %ul
    %li будет определена после оплаты
    %li= order.time_to_finish
.status
  Состояние:
  %span Дизайн кухни+гостиной
.pay_now
  = link_to 'Оплатите заказ', replenishment_personal_account_path
.msg
  %span
    %a{:href=>"#"} Новое сообщение
.completed
  завершено
  .presentage_blocks
    %span.presentage
      %span.value_present #{order.completion_percent}%
      %span.bar
.documents
  Документы:
  %ul
    %li
      %a{:href => ""} Договор
    %li
      %a{:href => ""} Акты
    %li
      %a{:href => ""} Оплата
