.completion
  %span.tit Завершения:
  %ul
    %li.payid= order.time_to_finish
.status
  Состояние:
  %span В работе
.pay_now
  / <a href="">Оплатите заказ</a>
.completed
  завершено
  .presentage_blocks
    %span.presentage
      %span.value_present #{order.completion_percent}%
      %span.bar
.documents
  Документы:
  %ul
    %li
      %a{:href => ""} Договор
    %li
      %a{:href => ""} Акты
    %li
      %a{:href => ""} Оплата
.msg
  %span
    %a{:href=>"#"} Новое сообщение
