%ul.order_profiles
  %li.selected 
    %a{:href => ""} Текущие заказы
  %li 
    %a{:href => ""} Черновики
  %li 
    %a{:href => ""} Завершенные проекты

.current_order.border_x1.rounded-corners
  .left_inbox.border_x1.rounded-corners_l3
    .text_head.pink
      .number
        № 157 
        %span.date
          15.11.13
      .heading    
        Разработка вариантов планировок
  .left_msg_area
    .msg_type
      %span.def_msg
      -# span.def_msg / span.new_msg
        СООБЩЕНИЕ
    .msg_content
      Журавлев Махаил 15.11.13 17:16 при появлении нового аывавыавыаыв
      выавыавыа ва выа ывавыа ывфав афвыа выавф афавыфп авф ывпфыв афыва выаф ф
      ав фва выав аыва фыва выавы аф пфпвв ыафыв      

  .right_content
    .status
      Статус:
      %span.red
        -# span.red / span.green
        Уточнение цены
    .price
      .price_text
        Цена:
        %span.price
          9500 руб.    
      %span.comment
        Специалист в течение дня выставит цену!       
    .progress
      %span 
        ЗАВЕРШЕНО
      .progress_block
        %span.progress_bar{:style => "width:0px"}
          %span.value
            0%
          %span.full_bar  
    .time
      Срок выполнения заказа :
      %span.time
        1 нед.

.current_order.border_x1.rounded-corners
  .left_inbox.border_x1.rounded-corners_l3
    .text_head.pink
      .number
        № 157 
        %span.date
          15.11.13
      .heading    
        Разработка вариантов планировок
  .left_msg_area
    .msg_type
      %span.new_msg
        НОВОЕ СООБЩЕНИЕ
    .msg_content
      Журавлев Махаил 15.11.13 17:16 при появлении нового аывавыавыаыв
      выавыавыа ва выа ывавыа ывфав афвыа выавф афавыфп авф ывпфыв афыва выаф ф
      ав фва выав аыва фыва выавы аф пфпвв ыафыв 

  .right_content
    .status
      Статус:
      %span.red
        Ожидание платежа
    .price
      .price_text
        Цена:
        %span.price
          9500 руб.
        .pay
          ОПЛАТИТЬ    
    .progress
      %span 
        ЗАВЕРШЕНО
      .progress_block
        %span.progress_bar{:style => "width:0px"}
          %span.value
            0%
          %span.full_bar  
    .time
      Срок выполнения заказа :
      %span.time
        1 нед.


.current_order.border_x1.rounded-corners
  .left_inbox.border_x1.rounded-corners_l3
    .text_head.pink
      .number
        № 157 
        %span.date
          15.11.13
      .heading    
        Разработка вариантов планировок
  .left_msg_area
    .msg_type
      %span.def_msg
        СООБЩЕНИЕ
    .msg_content
      Журавлев Махаил 15.11.13 17:16 при появлении нового аывавыавыаыв
      выавыавыа ва выа ывавыа ывфав афвыа выавф афавыфп авф ывпфыв афыва выаф ф
      ав фва выав аыва фыва выавы аф пфпвв ыафыв

  .right_content
    .status
      Статус:
      %span.green
        Оплачено
    .price
      .price_text
        Цена:
        %span.price
          9500 руб.
   
    .progress
      %span 
        ЗАВЕРШЕНО
      .progress_block
        %span.progress_bar{:style => "width:0px"}
          %span.value
            0%
          %span.full_bar  
    .time
      Срок выполнения заказа :
      %span.time
        1 нед.


.current_order.border_x1.rounded-corners
  .left_inbox.border_x1.rounded-corners_l3
    .text_head.pink
      .number
        № 157 
        %span.date
          15.11.13
      .heading    
        Разработка вариантов планировок
  .left_msg_area
    .msg_type
      %span.def_msg
        СООБЩЕНИЕ
    .msg_content
      Журавлев Махаил 15.11.13 17:16 при появлении нового аывавыавыаыв
      выавыавыа ва выа ывавыа ывфав афвыа выавф афавыфп авф ывпфыв афыва выаф ф
      ав фва выав аыва фыва выавы аф пфпвв ыафыв

  .right_content
    .status
      Статус:
      %span.green
        В работе
    .price
      .price_text
        Цена:
        %span.price
          9500 руб.
        .pay
          ОПЛАТИТЬ    
    .progress
      %span 
        ЗАВЕРШЕНО
      .progress_block
        %span.progress_bar{:style => "width:80px"}
          %span.value
            80%
          %span.full_bar  
    .time
      Срок выполнения заказа :
      %span.time
        1 нед.
