%ul.order_profiles
  %li 
    = link_to "Текущие заказы", :controller => "orders", :action => "profile1"
  %li.selected 
    = link_to "Черновики", :controller => "orders", :action => "profile2"  
  %li 
    = link_to "Завершенные проекты", :controller => "orders", :action => "profile3" 

.order_profile_default.light_green_border.rounded-corners
  .left_inbox.light_green_border.rounded-corners_l3
    .text_head.green
      .number
        № 157 
        %span.date
          15.11.13
      .heading    
        Разработка вариантов планировок
  .left_msg_area
    .msg_type
      %span.def_msg
        СООБЩЕНИЕ
      -# span.def_msg / span.new_msg
        
    .msg_content
      Журавлев Махаил 15.11.13 17:16 при появлении нового аывавыавыаыв
      выавыавыа ва выа ывавыа ывфав афвыа выавф афавыфп авф ывпфыв афыва выаф ф
      ав фва выав аыва фыва выавы аф пфпвв ыафыв      

  .right_content
    .status
      Статус:
      %span.red
        -# span.red / span.green
        Уточнение цены
    .price
      .price_text
        Цена:
        %span.price
          9500 руб.    
      %span.comment
        Специалист в течение дня выставит цену!       
    .progress
      %span 
        ЗАВЕРШЕНО
      .progress_block
        %span.progress_bar{:style => "width:0%"}
          %span.value
            0%
          %span.full_bar  
    .time
      Срок выполнения заказа :
      %span.time
        1 нед.

.order_profile_default.yellow_border.rounded-corners
  .left_inbox.yellow_border.rounded-corners_l3
    .text_head.dark_yellow
      .number
        № 157 
        %span.date
          15.11.13
      .heading    
        Разработка вариантов планировок
  .left_msg_area
    .msg_type
      %span.new_msg
        НОВОЕ СООБЩЕНИЕ
    .msg_content
      Журавлев Махаил 15.11.13 17:16 при появлении нового аывавыавыаыв
      выавыавыа ва выа ывавыа ывфав афвыа выавф афавыфп авф ывпфыв афыва выаф ф
      ав фва выав аыва фыва выавы аф пфпвв ыафыв 

  .right_content
    .status
      Статус:
      %span.red
        Ожидание платежа
    .price
      .price_text
        Цена:
        %span.price
          9500 руб.
        .pay
          ОПЛАТИТЬ    
    .progress
      %span 
        ЗАВЕРШЕНО
      .progress_block
        %span.progress_bar{:style => "width:0%"}
          %span.value
            0%
          %span.full_bar  
    .time
      Срок выполнения заказа :
      %span.time
        1 нед.


.order_profile_default.light_blue_border.rounded-corners
  .left_inbox.light_blue_border.rounded-corners_l3
    .text_head.blue
      .number
        № 157 
        %span.date
          15.11.13
      .heading    
        Разработка вариантов планировок
  .left_msg_area
    .msg_type
      %span.def_msg
        СООБЩЕНИЕ
    .msg_content
      Журавлев Махаил 15.11.13 17:16 при появлении нового аывавыавыаыв
      выавыавыа ва выа ывавыа ывфав афвыа выавф афавыфп авф ывпфыв афыва выаф ф
      ав фва выав аыва фыва выавы аф пфпвв ыафыв

  .right_content
    .status
      Статус:
      %span.green
        Оплачено
    .price
      .price_text
        Цена:
        %span.price
          9500 руб.
   
    .progress
      %span 
        ЗАВЕРШЕНО
      .progress_block
        %span.progress_bar{:style => "width:0%"}
          %span.value
            0%
          %span.full_bar  
    .time
      Срок выполнения заказа :
      %span.time
        1 нед.