#order_mode.border_x7.rounded-corners_l2.shadow_x1
  .close_fly_window
  .heading
    БЛАГОДАРИМ ЗА ЗАЯВКУ!

  .content
    .login
    Для оформления Вашего заказа войдете в личный кабинет

  %span
    Если у Вас нет личного кабинета пройдите быстрою регистрацию

  .register

  .wish
    УСПЕХОВ В РЕАЛИЗАЦИИ ВАШИХ ПРОЕКТОВ!      