<div class="page_description post_varplan"><span class="post_varplan">Разработка вариантов планировок</span></div>
<div class="msg_caution"><span class="post_varplan">Заполните заявку</span></div>
<%= render 'form' %>