.personal_account_specialist
  -# %ul.personal_account
    %li.select
      %a{:href=>"#"} История
    %li
      %a{:href=>"#"} Пополнение
    %li
      %a{:href=>"#"} Договора
    %li
      %a{:href=>"#"} Акты

.personal_account
  На лицевом счете: #{@amount} руб.


%table.history_recharge
  %tr.heading
    %td №
    %td Дата
    %td Сумма
    %td Услуга
    %td Статус
  %tr
    %td 67
    %td 01.02.2013
    %td 20 000 руб.
    %td Разработка вариантов планировки
    %td В работе
  -# %tr.green
    %td 48  
    %td 27.01.2013
    %td 25 000 руб.
    %td Дизайн-проект кухни
    %td Завершено
  -# %tr
    %td 35  
    %td 23.01.2013
    %td 35 000 руб.
    %td Дизайн-проект приложей
    %td В работе
  %tr
    %td 49  
    %td 19.01.2013
    %td 20 000 руб.
    %td Дизайн кухни+гостиной
    %td В работе
  %tr.green
    %td 65  
    %td 15.01.2013
    %td 60 000 руб.
    %td Дизайн-проект кухни
    %td Завершено
