.padding_left
  %ul.info_top{style:'padding:0px; list-style:none;'}
    %li
      %span{style:'width:150px; float:left; font-size:18px;'}
        Реквизиты фирмы:
      %textarea.textline_l13-5.backg_default_light{type:'text', style:'border:1px solid #c3c2c0; padding:0px; width:545px; height:80px; color:#7C7B79', name: "questionnaire_field[value-#{@data.id}]"}