.padding_left
  %ul.info_top{style:'padding:0px; list-style:none;'}
    %li
      %span{style:'width:150px; float:left;'}
        Фактический адрес:
      %input.textlines_default_light.textline_l13.backg_default_light{type:'text', name: "questionnaire_field[value-#{@data.id}]"}