%li 
  %span.head_long
    Проживание:
  %ul.places
    %li
      %input.textlines_default_all_borders.textline_l6-8.backg_default_light
    %li
      %input.textlines_default_all_borders.textline_l6-8.backg_default_light
    %li
      %input.textlines_default_all_borders.textline_l6-8.backg_default_light  