.LoginContainer
  .LoginCaption

  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .Legend
      = f.input :login, :required => true, :autofocus => true
      = f.input :password, :required => true
    .ok
      = f.submit ''
/= render "devise/shared/links"
