#black_content
  #login.rounded-corners.border_x2.shadow_x1
    .close_fly_window
    = simple_form_for(@user ||= User.new, as: :user, :url => session_path(:user)) do |f|
      .head_register
      .info Логин или E-mail :
      .text_fields= f.input_field :login, class: 'log_client_tfeild'
      .info Пароль :
      .text_fields= f.input_field :password, class: 'log_client_tfeild'
      .control
        %span
          - if devise_mapping.recoverable? && controller_name != 'passwords'
            = link_to "Забыли?", new_password_path(:user)
        %input.login_button{:alt => "Submit Form", :src => asset_path("ok_button_green.png"), :type => "image"}/
