!!!
%html
  %head
    %title Дизайн сервис.
    %link{:href => "/assets/common/form_style.css?body=1", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/common/drop_zone.css?body=1", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/common/application.css?body=1", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/unregistered/application.css?body=1", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/unregistered/unregistred.css?body=1", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/unregistered/welcome.css?body=1", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "unregistred.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %script{:language => "javascript", :src => "jquery-1.10.1.js"}
  %script{:language => "javascript", :src => "jquery.corner.js"}
  /[if lt IE 9]
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  :javascript
    $(function() {
    function black_content(){
    	$("#black_content").css("height",$(document).height());
    	$("#black_content").css("display","block");
    };
    
    
    $(".registration").click(function(){
    black_content();
    $("#register").css("display","block");
    });
    
    $(".login").click(function(){
    black_content();
    $("#login").css("display","block");
    });
    
    $(".close_fly_window").click(function(){
    //alert($(this).attr("class"));
    $(this).parent().css("display","none").parent().css("display","none");
    });
	

    });

    function show_next(element){
    var checker = $(element).is(':checked');
    var li_near = $(element).parent().next('li');
    if(checker==true){
    li_near.css("display","block");
    }
    else{
    li_near.css("display","none");
    }
    }
  %body
    %noindex
      / ------------------------------------------------- BLACK_PALET START--------------
      #black_content
        #register.rounded-corners.border_x1.shadow_x1
          .close_fly_window
          %form{:action => ""}
            .head_register
            .info
              Логин:
              %span *
            .text_fields
              %span.caution (латинские символы и цифры)
              %input.reg_client_tfeild{:name => "", :type => "text"}/
            .info
              E-mail:
              %span *
            .text_fields
              %input.reg_client_tfeild{:name => "", :type => "text"}/
            .info
              Пароль:
              %span *
            .text_fields
              %input.reg_client_tfeild{:name => "", :type => "text"}/
            .info
              Повторите&nbsp;&nbsp; пароль:
              %span *
            .text_fields
              %input.reg_client_tfeild{:name => "", :type => "text"}/
            .control
              %input.submit_button{:alt => "Submit Form", :src => "ok_button.png", :type => "image"}/
        #login.rounded-corners.border_x2.shadow_x1
          .close_fly_window
          %form{:action => ""}
            .head_register
            .info Логин или E-mail :
            .text_fields
              %input.log_client_tfeild{:name => "", :type => "text"}/
            .info Пароль :
            .text_fields
              %input.log_client_tfeild{:name => "", :type => "text"}/
            .control
              %span
                %a{:href => "#"} Забыли?
              %input.login_button{:alt => "Submit Form", :src => "ok_button_green.png", :type => "image"}/
      / ------------------------------------------------- BLACK_PALET END--------------
      .twoColFixRtHdr
        .border_ornements
          / ------------------------------------------------------------------------------- NEW CLASS ADDED--------------
          .header_top
            / ------------------------------------------------------------------------------------- NEW CLASS ADDED--------------
            .coconut_leaves
              / --------------------------------------------------------------------------------- NEW CLASS ADDED--------------
              #container
                #header
                  #designService.headerLayer1
                  .login_panel
                    .login Вход
                    .registration Регистрация
                / ------------------------ END HEADER --------------------------------------------------------------------------------------------------
                #maincontent_default
                  / --------------------------------------------------------------CHANGE ID NAME
                  .page_content_default
                    .collage_design.mode2
                      %ul#main_menu.default_pages
                        %li
                          %a{:href => "#"}
                            %span/
                          %p Архитекторы
                        %li
                          %a{:href => "designers.html"}
                            %span/
                          %p Дизайнеры
                        %li
                          %a{:href => "#"}
                            %span/
                          %p Инженеры
                        %li
                          %a{:href => "#"}
                            %span/
                          %p Строительные фирмы
                        %li
                          %a{:href => "#"}
                            %span/
                          %p Строительные бригады
                    .page_description.engineering_systems
                      %span.engineering_systems Инженерные системы и конструктив
                    .msg_caution
                      %span.engineering_systems Заполните заявку
                    %form#all_forms{:action => ""}
                      .engineering_systems_form1.border_x1.rounded-corners_l2.shadow_x1
                        .number
                        .form_description
                        %span{:style => "float:left; width:400px; padding-bottom:15px;"}
                          Адрес:
                          %input.textlines_default.textline_l8{:name => "", :type => "text"}/
                          Этаж:
                          %input.textlines_default.textline_l4{:name => "", :type => "text"}/
                          Подъезд/Секция:
                          %input.textlines_default.textline_l4{:name => "", :type => "text"}/
                        .head_part
                        .file_attaching.border_x5.rounded-corners_l3
                          %span.attach Вы можете перетащить файлы сюда
                          %span.caution Обязательно необходима планировка с расстановкой мебели и сантехнического оборудования
                      .engineering_systems_form2.border_x2.rounded-corners_l2.shadow_x1
                        .form_description
                        .number
                        %span.select_ Выбор разделов:
                        %ul
                          %li#sss
                            %input#first{:name => "", :onclick => "show_next(this);", :type => "checkbox", :value => "1"}/
                            %label{:for => "first"} Электрооборудование и электроосвещение &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(проект ЭОМ для согласования)
                          %li.caution
                            %span>
                            Необходим план расстановки светильников, электрооборудования,розеток и других электроприборов
                          %li
                            %input#second{:name => "", :type => "checkbox", :value => "1"}/
                            %label{:for => "second"} Водоснабжение и канализация - ВК
                          %li
                            %input#third{:name => "", :type => "checkbox", :value => "1"}/
                            %label{:for => "third"} Отопление - ОВ-I
                          %li
                            %input#forth{:name => "", :type => "checkbox", :value => "1"}/
                            %label{:for => "forth"} Вентиляция - ОВ-II
                          %li
                            %input#fifth{:name => "", :type => "checkbox", :value => "1"}/
                            %label{:for => "fifth"} Слаботочные системы - СС
                          %li
                            %input#sixth{:name => "", :onclick => "show_next(this);", :type => "checkbox", :value => "1"}/
                            %label{:for => "sixth"} Конструктивные решения - КР
                          %li.caution
                            %span>
                            Необходим план, где указаны привязки и размеры проемов
                      .engineering_systems_form3.border_x3.rounded-corners_l2.shadow_x1
                        .number
                        .form_description
                        %input.var_form3_default.textline_l12{:name => "", :type => "text"}/
                        %input.var_form3_default.textline_l12{:name => "", :type => "text"}/
                        %input.var_form3_default.textline_l12{:name => "", :type => "text"}/
                      .engineering_systems_submiting
                        %input.submit_all_forms{:alt => "", :onclick => "$('#all_forms').trigger('reset');\n; return false;", :src => "cancelButton.png", :type => "image"}/
                        %input.submit_all_forms{:alt => "Submit Form", :src => "postButton.png", :type => "image"}/
                  / ----------------------END page_content_default
                  #block_menu_default
                    %ul
                      %li
                        %a{:href => "PostVarPlan.html"}
                          %span/
                        %p
                          Разработка
                          = succeed "\u{432}\u{430}\u{440}\u{438}\u{430}\u{43d}\u{442}\u{43e}\u{432}" do
                            %br/
                          планировок
                      %li
                        %a{:href => "PlanRefactoring.html"}
                          %span/
                        %p Согласования перепланировок
                      %li
                        %a{:href => "design_project.html"}
                          %span/
                        %p Дизайн-проект
                      %li
                        %a{:href => "engineering_systems.html"}
                          %span/
                        %p
                          Инженерные
                          = succeed "\u{441}\u{438}\u{441}\u{442}\u{435}\u{43c}\u{44b}" do
                            %br/
                          и конструктив
                / ----------------------------------------- -----------------------------------------------END maincontent_default
              / -------------------------------------------------------------------------------------------------END container-------
              .footer
                / FOOTER START-------------------------------
                .footer_elements
                  .contact_with_us
                    Связаться с нами:
                    %br/
                    Тел: +7 (495) 123-45-67
                    %br/
                    E-mail: info@design-servis.ru
                  .rights Дизайн-Сервис©2О12
                  .partners
                    Партнеры:
                    %br/
                    Банк-Идей
                    %br/
                    www-студия
              / -------------- FOOTER END -------
            / coconut_leaves ----------------------------------------------------- END CLASS-
          / header_top  ----------------------------------------------------- END CLASS-
        / border_ornements ---------------------------------------------------- END CLASS
