!!!
%html
  %head
    %title Дизайн сервис.
    %link{:href => "registered.css", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %script{:language => "javascript", :src => "jquery-1.10.1.js"}
  %script{:language => "javascript", :src => "jquery.corner.js"}
  /[if lt IE 9]
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  :javascript
    $(function() {
    function black_content(){
    	$("#black_content").css("height",$(document).height());
    	$("#black_content").css("display","block");
    };
    
    });
  %body
    %noindex
      / ------------------------------------------------- BLACK_PALET START--------------
      #black_content
      / ------------------------------------------------- BLACK_PALET END--------------
      .twoColFixRtHdr
        .border_ornements
          / ------------------------------------------------------------------------------- NEW CLASS ADDED--------------
          .header_top
            / ------------------------------------------------------------------------------------- NEW CLASS ADDED--------------
            .coconut_leaves
              / --------------------------------------------------------------------------------- NEW CLASS ADDED--------------
              #container
                #header
                  #designService.headerLayer1
                  %ul.text_shadow_1
                    %li.shadow_x3
                      %a{:href => "reg_postvarplan.html"}
                        %span
                          Разработка
                          = succeed "\u{432}\u{430}\u{440}\u{438}\u{430}\u{43d}\u{442}\u{43e}\u{432}" do
                            %br/
                          планировок
                    %li.shadow_x3
                      %a{:href => "reg_planrefactoring.html"}
                        %span Согласования перепланировок
                    %li.shadow_x3
                      %a{:href => "reg_design_project.html"}
                        %span Дизайн-проект
                    %li.shadow_x3
                      %a{:href => "reg_engineering_systems.html"}
                        %span
                          Инженерные
                          = succeed "\u{441}\u{438}\u{441}\u{442}\u{435}\u{43c}\u{44b}" do
                            %br/
                          и конструктив
                / ------------------------ END HEADER --------------------------------------------------------------------------------------------------
                #maincontent_index.rounded-corners_l4
                  #main_content
                    .springs
                    .border_left
                      .top_corner
                      .bottom_corner
                    .border_right
                      .top_corner
                      .bottom_corner
                    .sidebar_left
                      .caption_left_menu.light_green
                        Добро пожаловать,
                        %br>/
                        Александр [Alex]
                      %ul#left_menu
                        %li
                          %a{:href => "reg_my_orders.html"} Мои заказы
                        %li
                          %a{:href => "reg_personal_account.html"} Лицевой счет
                        %li
                          %a{:href => "#"} Мои настройки
                      .heading_captions ВЫБОР СПЕЦИАЛИСТОВ
                      %ul#menu_sub_left
                        %li
                          %a{:href => "#"}
                            %span Архитекторы
                        %li
                          %a{:href => "reg_designers.html"}
                            %span Дизайнеры
                        %li
                          %a{:href => "#"}
                            %span Инженеры
                        %li
                          %a{:href => "#"}
                            %span Строительные фирмы
                        %li
                          %a{:href => "#"}
                            %span Строительные бригады
                    .page_contener
                      .caption.light_red ДИЗАЙН ПРИХОЖЕЙ
                      %ul#navigation
                        %li.first
                          %a{:href => "#"} Главная
                        %li
                          %a{:href => "#"} Дизайн-проекты
                        %li.last
                          %a{:href => "#"} концепция
                      .breaker
                      / ---------------------------  --------------
                      .msg_caution
                        %span.design_p-workin-docs Заполните заявку
                      %form#all_forms{:action => ""}
                        .design_p-workin-docs_form1.border_xs.rounded-corners_l2.shadow_x1
                          .number
                          .form_description
                          .file_attaching.border_x5.rounded-corners_l3
                            %span.caution Прикрепите: 1. план с расстановкой мебели!
                            %span.attach Вы можете перетащить файлы сюда
                          .number_second
                          .form_description_second
                          %span.text
                            Площадь помещения:
                            %input.textlines_default.textline_l6{:name => "plojad", :type => "text"}/
                          .interior
                            Какой стиль интерьера Вы предпочитаете?
                            %ul.answer
                              %li
                                %input#classicism{:name => "interior", :type => "radio", :value => ""}/
                                %label{:for => "classicism"} Классицизм
                              %li
                                %input#minimalism{:checked => "checked", :name => "interior", :type => "radio", :value => ""}/
                                %label{:for => "minimalism"} Современный минимализм
                              %li
                                %input#East{:name => "interior", :type => "radio", :value => ""}/
                                %label{:for => "East"} Восток
                              %li
                                %input#Art-Deco{:name => "interior", :type => "radio", :value => ""}/
                                %label{:for => "Art-Deco"} Современный Art-Deco
                              %li
                                %input#any{:name => "interior", :type => "radio", :value => ""}/
                                %label{:for => "any"}
                                  Другое
                                  %input.textlines_default.textline_l5{:name => "plojad", :type => "text"}/
                          .present_results
                            Как Вам представить результат?
                            %ul.answer
                              %li
                                %input#3d{:name => "present_results", :type => "radio", :value => ""}/
                                %label{:for => "3d"} 3-D визуализация
                              %li
                                %input#drawing{:name => "present_results", :type => "radio", :value => ""}/
                                %label{:for => "drawing"} Рисунок от руки
                        .design_p-workin-docs_form2.border_x3.rounded-corners_l2.shadow_x1
                          .number
                          .form_description
                          %input.var_form3_default.textline_l12{:name => "", :type => "text"}/
                          %input.var_form3_default.textline_l12{:name => "", :type => "text"}/
                          %input.var_form3_default.textline_l12{:name => "", :type => "text"}/
                        %span.design_p-workin-docs-caution2 Итоговую стоимость заказа Вы можете посмотреть в личном кабинете после отправки!
                        .design_p-workin-docs_submiting
                          %input.submit_all_forms{:alt => "", :onclick => "$('#all_forms').trigger('reset');\n\t\t\t; return false;", :src => "cancelButton.png", :type => "image"}/
                          %input.submit_all_forms{:alt => "Submit Form", :src => "postButton.png", :type => "image"}/
                      / -------------------------------------------- end page_contener
                / ------------------------------------------------- -----------------------------------------------END maincontent_index
              / ------------------------------------------------- --------------------------------------------------------END container-------
              / FOOTER START
              .footer
                .footer_elements
                  .contact_with_us
                    Связаться с нами:
                    %br/
                    Тел: +7 (495) 123-45-67
                    %br/
                    E-mail: info@design-servis.ru
                  .rights Дизайн-Сервис©2О12
                  .partners
                    Партнеры:
                    %br/
                    Банк-Идей
                    %br/
                    www-студия
              / -------------- FOOTER END -------
            / coconut_leaves ----------------------------------------------------- END CLASS-
          / header_top  ----------------------------------------------------- END CLASS-
        / border_ornements ---------------------------------------------------- END CLASS
