#header
  = link_to root_url do
    #designService.headerLayer1
  .login_panel.sess
    %a{:href => new_user_session_path}
      .login Вход
    %a{:href => new_user_registration_path}
      .registration Регистрация
