= simple_form_for(@user ||= User.new, as: :user, :url => registration_path(:user), html: {class: 'short_registration_form'}) do |f|
  - if params[:controller] == 'registrations'
    .head_none
  - else
    .head_register
    .goto_register
  .info
    E-mail:
    %span *
  .text_fields= f.input_field :email
  .info
    Телефон:
  .text_fields= f.input_field :phone
