%ul#main_menu.main_page
  %li.architector
    %a{:href => specialist_groups_path(specialization: 'architector')}
      %span
        %p.p1 Архитекторы
  %li.designer
    %a{:href => specialist_groups_path(specialization: 'designer')}
      %span
        %p.p1 Дизайнеры
  %li.engineer
    %a{:href => specialist_groups_path(specialization: 'engineer')}
      %span
        %p.p1 Инженеры
  %li.building_company
    %a{:href => specialist_groups_path(specialization: 'building_company')}
      %span
        %p.p2 Строительные фирмы
  %li.building_brigade
    %a{:href => specialist_groups_path(specialization: 'building_brigade')}
      %span
        %p.p2 Строительные бригады
