//= require ./form_style
//= require ./drop_zone

ul.list_of_attachments {
  li {
    position: relative;
    .delete_attachment {
      background-image: image-url('delete_attachment.png');
      background-repeat: no-repeat;
      height: 16px;
      width: 16px;
      position:absolute;
      left: 5px;
    }
    .attachment_link {
      position:absolute;
      left: 25px;
    }
  }
}
