div.calculator_area {
  ul {
    list-style: none;
    font-size: 16px;
    text-align: center;
    margine: 0px;
    padding: 0px;
    clear: both;

    li:nth-child(1) {
      background-color: #f4e3eb;
      padding-top: 15px;
      padding-bottom: 15px;
      color: #7f7a7e;
    }
    li:nth-child(2) {
      background-color: #f0cbdc;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #7f7a7e;
    }
  }
  div.order_zakaz {
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #5bb714;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    display: none;

    span {
      cursor: pointer;
    }
  }
}


div.calculator {
  width: 433px;
  height: 126px;
  background-color: #ebebeb;
  margin-bottom: 25px;
  clear: both;

  .form_description.order_price {
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    width: 380px;
    height: 25px;
  }
  span {
    width: 200px;
    margin-left: 60px;
    float: left;
    margin-top: 20px;

    input[type=text] { border: 2px solid #dadada; border-radius: 7px; }
    span, span a, span a:link {
      z-index: 10;
      position: absolute;
      margin-top: 2px;
      margin-left: 55px;
      cursor: pointer;
      text-decoration: underline;
      color: #de3880;
      font-size: 16px;
    }
    span a:hover { text-decoration:none; font-weight:bold; }
  }
  span.count {
    float: left;
    color: #666;
    padding-left: 220px;
    text-decoration: underline;
  }
  .total {
    width: 300px;
    height: 25px;
    text-align: center;
    font-size: 16px;
  }
  .grey {
    color: #a1a1a1;
  }
  .green {
    color: #5bb714;
  }
}

/**********

  .calcContainer {
    margin: 20px auto;
    background: image-url("calcBg.png") no-repeat;
    width: 432px;
    height: 128px;
    .calcCaption {
      background: image-url("CalcCaption.png") no-repeat;
      width: 283px;
      height: 17px;
      margin: 0px auto 0px;
    }
    .calc {
      background: image-url("calcFieldbg.png");
      width: 315px;
      height: 35px;
      margin: 35px auto 0px;
    }
    .count {
      margin: -15px 8px 0 8px;
      text-align: right;
      font-family: gardensc, verdana, sans-seris;
    }
  }

**********/
