div.color_keyboard {
  ul li:hover { cursor:pointer; }

  ul.wide {
    float: left;
    height: 143px;
    list-style: none;
    border: 1px solid #000000;
    background-color: #99FF00;
    width: auto;
    padding: 0px;

    li {
      width: 25px;
      height: 143px;
      background-color: #00CC99;
      float: left;
      padding: 0px;
      margin: 0px;
      display: inline-block;
      border: 1px solid #000000;
      background-image: image-url("key_board_default_long.png");
      background-position: -6px -6px;
    }

    li:hover {
      background-image: image-url("key_board_hover_long.png");
      background-position: -4px -4px;
    }

    li.selected {
      background-image: image-url("key_board_selected_long.png");
      background-position: -4px -4px;
      cursor: default;
    }

    li:nth-child(1) { background-color:#fdabb2; }
    li:nth-child(2) { background-color:#faa486; }
    li:nth-child(3) { background-color:#ffbf64; }
    li:nth-child(4) { background-color:#f0d167; }
    li:nth-child(5) { background-color:#b3e360; }
    li:nth-child(6) { background-color:#87ffb4; }
    li:nth-child(7) { background-color:#a4efff; }
    li:nth-child(8) { background-color:#719bfc; }
    li:nth-child(9) { background-color:#928afa; }
    li:nth-child(10) { background-color:#cf83ce; }
  }

  ul.short {
    float: left;
    height: 93px;
    list-style: none;
    width: auto;
    padding: 0px;
    position: absolute;
    z-index: 5;
    margin-left: 16px;

    li {
      width: 19px;
      height: 93px;
      background-color: #99CCCC;
      float: left;
      padding: 0px;
      margin: 0px;
      display: inline-block;
      border: 1px solid #000000;
      background-image: image-url("key_board_default_short.png");
      background-position: -6px -6px;
    }
    li:hover {
      background-image: image-url("key_board_hover_short.png");
      background-position: -4px -4px;
    }
    li.selected {
      background-image: image-url("key_board_selected_short.png");
      background-position: -4px -4px;
      cursor: default;
    }

    li.dis_short { margin-left:8px; }
    li.dis_long { margin-left:31px; }

    li:nth-child(1) { background-color:#fb3737; }
    li:nth-child(2) { background-color:#fd9437; }
    li:nth-child(3) { background-color:#fdf037; }
    li:nth-child(4) { background-color:#42cd37; }
    li:nth-child(5) { background-color:#37f1fd; }
    li:nth-child(6) { background-color:#4037fd; }
    li:nth-child(7) { background-color:#9937fd; }
  }
}
