span.attach_info_block.caution {
  color: #e51600;
  float: left;
  font-size: 12px; padding-left: 10px;
  width: 520px;
  font-size: 17px;
  line-height: 15px;
  margin-left: 15px;
  padding-top: 5px;
}
