div.interior {
  float: left;
  ul.answer {
    list-style: none;
    margin: 0px;
    padding-left: 55px;
    float: left;
    li {
      float: left;
      margin-right: 10px;
    }
  }
}

div.design_p_ceiling_fixtures_form1 div.interior {
  float: left;
  ul.answer {
    list-style: none;
    margin: 0px;
    padding-right: 60px;
    float: right;
    li {
      float: none;
      margin: 0px;
      padding: 0px;
      height: 30px;
    }
  }
}

