.calcContainer{
	margin: 20px auto;
	background:image-url("calcBg.PNG") no-repeat;
	width:432px;
	height:128px;
  .calcCaption{
    background:image-url("CalcCaption.PNG") no-repeat;
    width:283px;
    height:17px;
    margin: 0px auto 0px;
  }
  .calc{
    background:image-url("calcFieldbg.PNG");
    width:315px;
    height:35px;
    margin: 35px auto 0px;
  }
  .count {
    margin: -15px 8px 0 8px;
    text-align:right;
    font-family: gardensc, verdana, sans-seris;
  }
}
