//= require specialist_groups

.profile {
  width:450px; height:145px;
  margin-left:15px;
  margin-top:30px;
  padding:30px;
  line-height:45px;
  margin-bottom:25px;
  clear:both;
}
.form_submiting{
  margin-right: 50px;
  margin-left: 300px;
}

.info_specialist span.heading {
  clear: left;
}
