span.attach_info_block.caution {
  color: #e51600;
  float: left;
  font-size: 12px;
  padding-left: 20px;
  width:400px;
}

span.remove_room {
  position: absolute;
  background-image: image-url("delete_attachment.png");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

span.add_room {
  display: none;
}
