span.attach_info_block.caution {
  color: #e51600;
  float: left;
  font-size: 17px;
  padding-left: 20px;
  width: 400px;
}

span.remove_room {
  position: absolute;
  background-image: image-url("delete_attachment.png");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  
}

span.add_room {
  display: none;
}

.attach_info_block.caution {
  ul {
    list-style-type: decimal;

  }
}

.address_details, .phone, .selected_form__email {
  float: left;
  width: 400px;
  padding-bottom: 15px;
}

ol.selected_form{
  li{ margin-bottom: 50px; float:left; }
}