@import "settings";

div.designers {
  background-image: image-url("designers.png");
  border-bottom-color: $design_projects_color;
  float: left;
  background-repeat: no-repeat;
  background-position: left -2px;
  height: 40px;
}

div.designers_list {
  float: left;
  clear: both;
  height: 104px;
  background-color: #f5eae4;

  div.designer_no {
    background-color: #f5e1d8;
    float: left;
    img {
      float: left;
    }
    span {
      color: #b70682;
      font-size: 16px;
      text-align: center;
      float: left;
      padding-top: 5px;
    }
  }

  div.designer_info {
    position: relative;
    padding: 5px 5px 5px 15px;
    float: left;
    color: #4c4c4c;

    div {
      width: 470px;
      float: left;
      span {
        padding: 0px;
        margin: 0px;
        float: left;
        &:nth-child(2) {
          color: #50880f;
          padding-left: 10px;
        }
      }
      &:nth-child(1) {
        padding-top: 10px;
        padding-bottom: 15px;
        font-weight: bold;
        font-size: 18px;
      }
      &:nth-child(2) { font-size: 14px; }
      &:visited { color: #4c4c4c; }
    }
  }

  div.portfolio {
    float: left;
    width: 105px;
    height: 89px;
    margin-top: 5px;
    img { padding: 5px 5px 5px 5px; }
    span {
      text-align: center;
      width: 105px;
      font-size: 14px;
      color: #9c4a0c;
      a {
        color: #9c4a0c;
        text-decoration: underline;
        &:hover { text-decoration: none; }
      }
    }
  }
}

ul.portfolio {
  list-style: none;
  overflow: auto;
  padding-bottom: 25px;
  margin: 0px;
  li {
    float: left;
    padding-top: 15px;
  }
  li:nth-child(3) { margin: 0px !important; }
}

div.selected_designer {
  float: left;
  clear: both;
  height: 104px;
  width: 817px;
  margin-top: 40px;
  background-color: #f5eae4;

  div.designer_no {
    width: 93px;
    height: 103px;
    background-color: #f5e1d8;
    float: left;
    margin-left: 20px;
    img {
      width: 92px;
      height: 71px;
      float: left;
    }
    span {
      color: #b70682;
      font-size: 16px;
      text-align: center;
      width: 92px;
      float: left;
      padding-top: 5px;
    }
  }

  div.designer_info {
    width: 380px;
    position: relative;
    padding: 5px 5px 5px 15px;
    float: left;
    color: #4c4c4c;

    div {
      width: 380px;
      float: left;
      span {
        padding: 0px;
        margin: 0px;
        float: left;
      }

      a { color: #4c4c4c; }
      span:nth-child(2) {
        color: #50880f;
        padding-left: 10px;
      }
      &:nth-child(1) {
        padding-top: 10px;
        padding-bottom: 15px;
        font-weight: bold;
        font-size: 18px;
      }
      &:nth-child(2) { font-size: 14px; }
    }
  }

  div.send_request {
    float: left;
    width: 102px;
    height: 102px;
    background-image: image-url("send_request.png");
    &:hover { background-image: image-url("send_request_hover.png"); }
  }
  div.go_back {
    width: 93px;
    height: 86px;
    float: left;
    background-image: image-url("go_back.png");
    margin-top: 9px;
    &:hover { background-image: image-url("go_back_hover.png"); }
  }
}

span.designers {
  color: #ca3932;
  padding-top: 10px;
  float: left;
}

div.rel_portfolio {
  color: #ca3932;
  font-size: 24px;
  background-image: image-url("briefcase256.png");
  padding-left: 80px;
  background-repeat: no-repeat;
  float: left;
  margin-top: 20px;
  height: 50px;
  padding-top: 15px;
  margin-left: 50px;
}

span.project_breaker {
  height: 1px ;
  width: 816px;
  float: left;
  background-color: #999999;
}

ul.project_selected_designer {
  float: left;
  list-style: none;
  margin: 0px;
  padding-top: 20px;
  li {
    float: left;
    &:nth-child(1) {
      color: #467c07;
      font-size: 20px;
      float: left;
    }
    &:nth-child(2) {
      color: #4c4c4c;
      font-size: 14px;
      margin-left: 20px;
      float: left;
      width: 650px;
    }
  }
}


ul.rel_portfolio {
  list-style: none;
  width: 775px;
  overflow: auto;
  padding-bottom: 40px;
  padding-top: 20px;
  margin: 0px;
  margin-left: 110px;
  li {
    float: left;
    padding-top: 15px;
    margin-right: 45px;
    img {
      width: 120px;
      height: 120px;
    }
    &:nth-child(4) { margin: 0px; }
  }
}

div.info_specialist {
  ul.members {
    float: left;
    position: relative;
    list-style: none;
    max-width: 550px;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    max-height: 150px;

    li.content {
      float: left;
      width: 500px;
      max-height: 150px;
      margin-left: 1px;
      margin-right: 5px;
      ul {
        list-style: none;
        float: left;
        position: relative;
        margin: 0px;
        padding: 0px;
        max-height: 146px;
        overflow: hidden;
        li {
          width: 118px;
          height: 146px;
          margin-right: 5px;
          background-color: #c5dde4;
          float: left;
        }
      }
    }

    li.left_controller {
      position: relative;
      float: left;
      width: 15px;
      height: 136px;
      padding-top: 15px;
    }

    li.right_controller {
      position: relative;
      float: left;
      width: 15px;
      margin: 0px;
      height: 136px;
      padding-top: 15px;
    }
  }

  ul.comments {
    margin: 0px;
    padding: 0px;
    float: left;
    position: relative;
    list-style: none;
    width: 550px;
    margin-top: 15px;
    li {
      margin-bottom: 5px;
      float: left;
      background-color: #d2d2d2;
      width: 550px;
      ul {
        float: left;
        position: relative;
        list-style: none;
        margin: 0px;
        padding: 10px;
        width: 510px;
        li {
          margin: 0px;
          padding: 0px;
          float: none;
          width: 510px;
          font-size: 12px;
          &:nth-child(1) {
            font-weight: bold;
            font-size: 14px;
            span {
              color: #6d6d6d;
              font-weight: normal;
              font-size: 11px;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

.order_to_specialist_details {
  height: 375px;
  width: 630px;
  margin-left: 30px;
  padding-left: 10px;
  position: relative;
}

.wishes_block {
  height: 235px;
  width: 480px;
  margin-left: 30px;
  padding-left: 10px;
  position: relative;
}
