//= require ./toggle_like

/*This page content */
/*Page caption */
.pageLogo{
	background:image-url("DesignerIco.PNG") no-repeat;
	width:60px;
	height:60px;
	float:left;
}
#pageName{
	float:left;
}
.horLine{
	clear:both;
	height:3px;
}

/*Sort by and View setup */ 
.sortBy{
	height:32px;
}
.sortCaption{
	float:left;
	color:#c2c2c2;
}
.sortByRate{
	float:left;
	background:image-url("sortByRate.JPG") no-repeat;
	width:81px;
	height:29px;
}
.sortByReviews{
	float:left;
	background:image-url("sortByReviews.JPG") no-repeat;
	width:91px;
	height:29px;
}
.showCaption{
	float:right;
}
.ShowN{
	float:right;
	height:32px;
}
showSpecs{
	float:right;
	height:32px;
}



/*Specialist Deatails */


.SpecDetails{
	background:#f5e1d8;
	height:115px;
	width:auto;
}

.specAva{
	float:left;
	background:image-url("specAva.JPG") no-repeat;
	width:75px;
	height:75px;
	margin: 20px 20px;
}
.usernameContainer{
	font-family:dejavu_sans, Verdana, sans-serif;
	float:left;
	color:#4d4c4a;
	text-align:left;
	margin:20px 20px;
	padding:0 20px;
}
.spceRate{
	float:left;
	text-align:left;
	margin:20px 0 0 0;
	color:#4e8e02;
}
.specRatesNumber .specRateValue{
	color:#0C3;
}
.specRegistred{
	color:#98989a;
}
.specReviews{
	float:left;
	text-align:left;
	margin:20px 0 0 0;
	padding:0 20px;
}
.specPosRev{
	color:#090;
}
.specNegRev{
	color:#C00;
}


/*Specialist portfolio */

.specPortfolio{
	height:250px;
	margin:0;
	padding:20px 0px;	
}

.portfWork{
	float:left;
	height:200px;
	width:200px;
	margin:25px 0px 50px 60px;
}