@import "settings";

/*  PAGE CONCEPT DESIGNERS_INFO.HTML */
span.designers{ color:#ca3932; padding-top:10px; float:left; }
div.designers{ background-image:image-url("designers.png") ; border-bottom-color:$design_projects_color; width:550px; float:left; background-repeat:no-repeat; background-position:left -2px; height:40px;}
div.selected_designer{ float:left; clear:both; height:104px; width:817px; margin-top:40px; background-color:#f5eae4; }
body.registered div.selected_designer{ float:left; clear:both; height:104px; width:630px; margin-top:40px; background-color:#f5eae4; }

div.selected_designer div.designer_no{ width:93px; height:103px; background-color:#f5e1d8; float:left; margin-left:20px; }
div.selected_designer div.designer_no img{ width:92px; height:71px; float:left;}
div.selected_designer div.designer_no span{ color:#b70682; font-size:16px; text-align:center; width:92px; float:left; padding-top:5px;}

div.selected_designer div.designer_info{ width:380px; position:relative; padding:5px 5px 5px 15px; float:left; color:#4c4c4c;  }
body.registered div.selected_designer div.designer_info{ width:280px; position:relative; padding:5px 5px 5px 15px; float:left; color:#4c4c4c;  }
body.registered div.selected_designer div.designer_info div{ width:270px; position:relative; padding:5px 5px 5px 15px; float:left; color:#4c4c4c;  }

div.selected_designer div.designer_info div{ width:380px; float:left;}
div.selected_designer div.designer_info div span { padding:0px; margin:0px; float:left; }

div.selected_designer div.designer_info div a, div.designers_list div.designer_info div:visited{ color: #4c4c4c;}

div.selected_designer div.designer_info div span:nth-child(2){ color:#50880f; padding-left:10px;}
div.selected_designer div.designer_info div:nth-child(1){ padding-top:10px; padding-bottom:15px; font-weight:bold; font-size:18px; }
div.selected_designer div.designer_info div:nth-child(2){ font-size:14px;}

div.selected_designer div.send_request{ float: left; width:102px; height:102px; background-image:image-url("send_request.png"); }
div.selected_designer div.send_request:hover{ background-image:image-url("send_request_hover.png");}

div.rel_portfolio{ color:#ca3932; font-size:24px; background-image:image-url("briefcase256.png"); padding-left:80px; background-repeat:no-repeat; float:left; margin-top:20px; height:50px; padding-top:15px; margin-left:50px;}

span.project_breaker{ height:1px ; width:816px; float:left; background-color:#999999;}
body.registered span.project_breaker{ height:1px ; width:590px; float:left; background-color:#999999; margin-left:25px;}

ul.project_selected_designer{ float:left; list-style:none; margin:0px; padding-top:20px;}
ul.project_selected_designer li{ float: left;}
ul.project_selected_designer li:nth-child(1){ color:#467c07; font-size:20px; float:left;}
ul.project_selected_designer li:nth-child(2){  color:#4c4c4c; font-size:14px; margin-left:20px; float: left; width:650px;}

ul.rel_portfolio{ list-style:none; width:775px;  overflow:auto; padding-bottom:40px; padding-top:20px; margin:0px; margin-left:110px;}
ul.rel_portfolio li:nth-child(4){ margin:0px;}
ul.rel_portfolio li{ float:left; padding-top:15px; margin-right:45px;}
ul.rel_portfolio li img{ width:120px; height:120px;}

div.info_specialist ul.members{ float: left; position:relative; list-style:none; max-width:550px; margin:0px 0px 20px 0px; padding:0px; max-height:150px; }
div.info_specialist ul.members li.content{ float:left; width:500px; max-height:150px; margin-left:1px; margin-right:5px;}
div.info_specialist ul.members li.left_controller{ position:relative; float:left; width:15px; height:136px; padding-top:15px}
div.info_specialist ul.members li.right_controller{position:relative; float:left; width:15px; margin:0px; height:136px; padding-top:15px}
div.info_specialist ul.members li.content ul{ list-style:none; float:left; position:relative; margin:0px; padding:0px; max-height:146px; overflow: hidden;}
div.info_specialist ul.members li.content ul li{ width:118px; height:146px; margin-right:5px; background-color:#c5dde4; float: left}

div.info_specialist ul.comments{ margin:0px; padding:0px; float: left; position:relative; list-style:none; width:550px; margin-top:15px;}
div.info_specialist ul.comments li{ margin-bottom:5px; float:left; background-color:#d2d2d2; width:550px;}
div.info_specialist ul.comments li ul{ float:left; position:relative; list-style:none; margin:0px; padding:10px; width:510px; }
div.info_specialist ul.comments li ul li{ margin:0px; padding:0px; float:none; width:510px; font-size:12px;}
div.info_specialist ul.comments li ul li:nth-child(1){ font-weight:bold; font-size:14px;}
div.info_specialist ul.comments li ul li:nth-child(1) span{ color:#6d6d6d; font-weight:normal; font-size:11px; margin-left:5px;}


.order_to_specialist_details {
  height: 375px;
  width: 630px;
  margin-left: 30px;
  padding-left: 10px;
  position: relative;
}

.wishes {
  height: 235px;
  width: 480px;
  margin-left: 30px;
  padding-left: 10px;
  position: relative;
}
