@charset "utf-8";
/* CSS Document */



.specSelectNav{
	height:130px;
	width:600px;
	position:relative;
	}

.CategoryLogo{
	position:absolute;
	left:20px;
	top:0px;
	background:url(../images/DesignerIco.PNG) no-repeat;
	height:64px;
	width:64px;
}

.CategoryCaption{
	position:absolute;
	left:80px;
	top:30px;
	color:#c93a32;
	font-size:24px;
}

.CaptionHr{
	position:absolute;
	left:78px;
	top:60px;
	width:540px;
	background:#c93931;
	color:#c93931;
}
/*Show Nav*/
.find{
	position:absolute;
	height:36px;
	width:280px;
	left:32px;
	top:88px;	
}
#findCaption{
	line-height:36px;
	font-size:14px;
	vertical-align:middle;
}
#findActive{
	position:absolute;
	left:48px;
	top:8px;
	height:18px;
	width:180px;
	background:#FFF;
	border-color:#4d4b4c;
}
#findSpec{
	height:18px;
	width:180px;
	background:#FFF;
	border-color:#4d4b4c;
}

.showN{
	position:absolute;
	height:36px;
	width:128px;
	right:32px;
	top:88px;	
}
#showMe{
	position:absolute;
	top:8px;
	left:8px;
	height:18px;
	width:48px;
}
#showNCaption{
	line-height:36px;
	font-size:14px;
	vertical-align:middle;	
}
#showNspecs{
	position:absolute;
	left:88px;
	height:18px;
	width:48px;
	background:#FFF;
	border-color:#4d4b4c;
	
}

/* SingelSpecialist preview*/

.specPreview{
	position:relative;
	height:180px;
	background:#f1ddd4;
	width:640px;
}
.previewNumber{
	position:absolute;
	left:20px;
	top:0px;
	height:100%;
	width:40px;
	color:#518e02;
	text-align:center;
	line-height:180px;
}
.specAvaContainer{
	position:absolute;
	left:64px;
	top:16px;
	width:71px;
	height:71px;
}
.specAvaImg{
	width:70px;
	height:70px;
}
/*
.specialistStats{
	float:left;
	padding:8px 0;
	height:55px;
	width:300px;
	top:0px;
	left:105px;
}*/
.specNamingContainer{
	position:absolute;
	height:60px;
	width:280px;
	left:150px;
	top:16px;
	color:#4d4b4c;	
}
.specRate{
	position:absolute;
	left:360px;
	top:16px;
}
.positiveRate{
	font-size:12pt;
	float:left;
	color:#467702;
}
.negativeRate{
	float:left;
	margin:0 0 0 16px;
	font-size:12pt;
	color:#9f1302;
}
.specBestWork{
	position:absolute;
	right:48px;
	top:16px;
	width:140px;
	height:140px;
}
.bestWorkSource{
	width:140px;
	height:140px;
}
.targetSpecNav{
	position:absolute;
	height:16px;
	right:48px;
	bottom:8px;
	text-align:center;
	color:#508d02;
}
.tSNavA{
	color:#508d02;
}

.tSNavA:hover{
	color:#FFF;
	text-decoration:none;
}

.tSNavA:visited, .tsNavA:active{
	color:#FFF;
}

.specialistDescription{
	position:absolute;
	top:96px;
	left:150px;
	width:225px;
	height:90px;
	overflow:hidden;
	color:#6a6b6d;
	font-size:12pt;
}


/*Result Navigation */

.showNext{
	float:left;
	background:url(../images/showNext.JPG) no-repeat;
	width:16px;
	height:16px;
}

.showPrev{
	float:left;
	background:url(../images/showPrev.JPG) no-repeat;
	width:16px;
	height:16px;
}

