@charset "utf-8";
/* CSS Document */
<style type="text/css"> 

body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	/*background:; */
	background-image:url(img/fon.jpg);
	/*background-image:url(img/ChecKOut.PNG);
	background-repeat:no-repeat; */
	background-repeat:repeat;
	margin: 0 0 0 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0 0 0 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}

.twoColFixLt #container { 
	width: 1024px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 1px solid #000000;
	text-align: left; /* this overrides the text-align: center on the body element. */
}

.twoColFixLt #sidebar1 {
	float: left; /* since this element is floated, a width must be given */
	width: 635px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	background: #EBEBEB; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 0px 0px 0px 0px;
}

.twoColFixLt #mainContent { 
	margin: 0px; /* the left margin on this div element creates the column down the left side of the page - no matter how much content the sidebar1 div contains, the column space will remain. You can remove this margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends. */
	padding: 0px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
} 

.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 1px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 1px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.container{
	width:1024;
	height:768;
}

.headerContainer {
	width:1025px;
	height:130px;
}

.headerLayer1 {
	background-image:url(img/logo.png);
    padding: 0px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 516px; /* Ширина слоя */
   	height:55px;
	margin-top:30px;
	margin-left:128px
   }

.headerLayer2 {
	background-image:url(img/castle.png);
	background-repeat:no-repeat;
	
    padding: 0px 0px 0px 0px; /* Поля вокруг текста */
    width: 55px;
	height: 76px;
	margin-left:200px;
    margin-top:15px;
	
	float: left;
	/* Обтекание по правому краю */
   }
.headerLayer3 {
	background-image:url(img/reg-key.png);
    background-repeat:no-repeat;
	padding: 0px; /* Поля вокруг текста */
    width: 126px;
	height:51px;
    margin-top:30px;
	float: left; /* Обтекание по правому краю */
   }
   
   
.leftBotContainer{
   width:634px;
   height:380px;
   background-image:url(img/collag.jpg);
   background-repeat:no-repeat;
   }
   
.leftTopContainer{
    width:634px;
	height:380px;
	padding:0px;
	background-image:url(img/fon-menu-cpec.jpg);
	background-repeat:no-repeat;
   }
.lTCSpace{
	width:inherit;
	height:7px;
   }
.lTCSelect {
	background-image:url(img/vyberi.png);
   }
.leftButton{
	margin-left:125px;
	width:331px;
	height:67px;
	padding:0px;
	background-image:url(img/menu-spec.png);
	background-repeat:no-repeat;
   }
.leftButton:hover{
	background-image:url(img/menu-spec-hover.png);	
	}
.leftButtonCaption{
	/*position:relative;*/
	z-index:6;
	/*left: 75px;
	top: 19px; */
	}
		
.Footer{
   width:1025px;
   height:125px;
   }
.FooterCenter {
	text-align:center;
	float:left;
	width: 20%;
   }
.FooterLeft {
	text-align:left;
	float:left;
	width: 20%;
   }
.FooterRight {
	float:left;
	text-align:right;
	width:20%;
   }
.clear {
    clear: left; /* Отмена обтекания */
   }




li:not(#foo) > fieldset > div > span > input[type='radio'],
li:not(#foo) > fieldset > div > span > input[type='checkbox'] 
{
    opacity: 0;
    float: left;
    width: 18px;
}

input[type='radio'] + label,
input[type='checkbox'] + label {
    margin: 0;
    clear: none;
    padding: 5px 0 4px 24px;
    /* Make look clickable because they are */
    cursor: pointer;
    background: url(https://css-tricks.com/wufoo/themes/customradiosandcheckboxes/off.png) left center no-repeat;
}

li:not(#foo) > fieldset > div > span > input[type='radio']:checked + label {
    background-image: url(https://css-tricks.com/wufoo/themes/customradiosandcheckboxes/radio.png);
}
li:not(#foo) > fieldset > div > span > input[type='checkbox']:checked + label {
    background-image: url(https://css-tricks.com/wufoo/themes/customradiosandcheckboxes/check.png);
}

</style>


