@charset "utf-8";
/* CSS Document */
.PageCaption{
	height:126px;
	overflow:hidden;
}
#SelectPLz{
	margin:0 auto;
	color:f89f65;
	font-size:14pt;
}


.WorkDocContainer, .typeContainer,.ConceptContainer,.ConceptRow1,ConceptRow2{
	margin:0;
	padding:0;
	float:left;
}
.typesContainer{
	width:600px;
	margin: 16px 8px 0 25px;
}

.concept{ width:430px; background-color:#e4efd5; position:relative; float:left;}
.working_documents{ background-color:#e8edf1; position:relative;  width:160px; float:left; }
div.concept span.heading{ width:430px; float:left; position:relative; padding:10px 0px 10px 15px; text-align:center; height:40px; color:#77b02a;}
div.working_documents span.heading{ width:160px;  float:left; position:relative;  text-align:center; height:40px; padding-top:10px; padding-bottom:10px; color:#79a3d1; line-height:16px;}

div.work_blocks{ width:133px; height:235px;  float:left; margin-left:10px; margin-bottom:15px; position:relative;}
div.work_blocks span.heading_text{ font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:5px 5px 2px 5px; float:left; font-weight:bold;}
div.work_blocks span.discription{ font-family:Arial, Helvetica, sans-serif; font-size:11px; padding:0px 5px 2px 5px; float:left;}
div.work_blocks span.order{ background-image:url(../images/order.png); height:21px; width:100px; background-repeat:no-repeat; float:left; position:relative; margin-left:55px; cursor:pointer;}


