// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

form.postVarPlan{
  div.input {
    clear: both;
    label{
      float: left;
      width: 200px;
    }
    input{
      float: left;
      width: 50px;
    }
  }
  input[type=submit] {
    float:left;
    clear: both;
  }
}
.show_for{
  .wrapper {
    float:left;
    clear:both;
  }
}
.accept {
  span {
    background-image: image-url("like.jpg");
    float: left;
    width: 20px;
    height: 20px;
  }
}
.reject {
  span {
    background-image: image-url("dislike.jpg");
    float: left;
    width: 20px;
    height: 20px;
  }
}


.active_admin {
  .order {
    float: right;
  }
  .message_list {
    width: 500px;
    .participants {
      position: relative;
      width: 100%;
    }
    .from_client {
      padding-left: 10px;
    }
    .from_executor {
      padding-left: 90px;
    }
  }
}


#index_table_orders {
  .client {
    max-width: 100px;
    word-wrap: break-word;
  }
  .moderator_action {
    min-width: 150px;
    background-color: #f8f87b;
  }
  .order_type {
    text-align: center;
  }
}



table#index_table_orders tbody tr td:nth-child(4) { 
  color: #D6540B; 
  a, a:link, a:active, a:visited, a:hover{ 
    color: #D6540B; 
    }
}

table#index_table_orders tbody tr td:nth-child(7) { 
  color: #921D5A; 
  a, a:link, a:active, a:visited, a:hover{ 
    color: #921D5A; 
    }
}

table#index_table_orders tbody tr td:nth-child(9) { 
  color: #38678b; 
  a, a:link, a:active, a:visited, a:hover{ 
    color: #38678b; 
    }
}

table#index_table_orders tbody tr.even, table#index_table_orders tbody tr.odd {
  .PlanDevelopment {
    background-color: #a8d868;
  }

  .ReplanningEndorsement {
    background-color: #e6c941;
  }

  .EngineeringSystem {
    background-color: #99bbe1;
  }

  .SelectedForm {
    background-color: #f89f65;
  }
}

div.message_list{
  div.participants{
    span.client{ 
    left: 10px;
      a, a:link, a:active, a:visited, a:hover{ color:#fffff; width:100px;  } 
    }
    span.executor{ 
    right:10px; 
    } 
  }
  div.from_client{
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #38678b;
    width:420px;
    div.message{ margin-top:5px;}
  }
  div.moderation_not_accepted{
    background-color: #FAD6DA;
    span.datetime{
      position:absolute;
      margin-left:440px;
      margin-top:30px;
    }
    div.moderation{ color:#97192D}
  }
  div.moderation_accepted_complete{
    background-color: #E2E7EB;
    margin-left:150px;
    span.datetime{
      position:absolute;
      margin-left:-150px;
      margin-top:30px;
    } 
    div.moderation{ color:#13A8A2 }   
  }
  div.moderation_rejected_complete{
    background-color: #E5EBA9; 
    span.datetime{
      position:absolute;
      margin-left:440px;
      margin-top:30px;
    }  
    div.moderation{ color:#A58542 }   
  }
}

