//= require common/form_style
//= require drop_zone
//= require lightbox/lightbox
//= require completion_percent

.black_content_blocks {
  display: none;
}

ul.list_of_attachments {
  list-style:none;
  line-height: 20px;
  li {
    position: relative;
    .delete_attachment {
      height: 16px;
      width: 16px;
      position:relative;
      left: 5px;
      float:left;
    }
    .attachment_link {
    margin-left:15px;
    font-size:14px;
      a:link, a:active, a:visited{
      color:#4B4548;
      text-decoration:none;
      border-bottom:1px dotted #bc9c09;
      }
      a:hover{ color:#434242; border-bottom:1px dotted #ff0000;}
    }
  }
}

.enabled {
  ul.list_of_attachments {
    li {
      position: relative;
      .delete_attachment {
        background-image: image-url('delete_attachment_2.png');
        background-repeat: no-repeat;
        width:13px;
        height:13px;
      }
    }
  }
}

.postComment{
  сolor:#333;
  background:image-url("textformbg.png");
  width:465px;
  height:120px;
  overflow:auto; /*IE HAX */
  border: none;
  padding:0px 5px 0px 5px;
  margin: 0px;
  font-size:16px;
}

.attach_place_for_box{
  float:left;
  position:relative;
  width:500px;
  min-height:140px;
  overflow: auto;
  margin-top:5px;

}

/*#msg_dialog */
#msg_dialog {
  width:750px; min-height:650px; background-color:#ffffff; margin:0 auto; position:relative; margin-top:50px; display:none;
  div.order_name{ width:750px; font-size:24px; padding-top:15px; float:left; padding-bottom:15px; border-bottom:5px solid #f89f65; color:#5b5b5b}
  div.order_data_bottom{ width:750px; float:left; padding-bottom:15px; padding-top:15px; border-top:3px solid #f89f65; position: absolute; text-align:left; bottom:0px;}
  div.order_data_bottom span{ font-size:16px; float:left; padding-left:15px;}
  div.order_data_bottom span a, div.order_data_bottom span a:visited{ text-decoration:underline; color:#000000}
  div.order_data_bottom span a:hover{ text-decoration:none; color:#000000;}
  div.left_bar{ width:220px; height:520px; margin-top:5px; margin-bottom:5px; float:left;  overflow:hidden; border-right:1px solid #d3d3d3;}
  div.left_bar span.heading{ width:200px; float:left; text-align: center; padding:5px 0px 10px 0px; font-size:18px}
  div.left_bar span.photo{ width:46px; height:46px; border:1px solid #999999; float:left; background-color:#e6e6e6; margin-left:20px;}
  div.left_bar span.photo img{ width:46px; height:46px;}
  div.left_bar span.name{ width:120px; float:left; margin-left:10px; text-align:left; color:#5b5b5b;}

/*
  div.left_bar span.heading_done{ width:200px; float:left; text-align: center; padding:15px 0px 0px 0px; font-size:18px}
  ul.done{ width:147px; float:left; list-style:none; margin-left:30px; padding:0px;}
  ul.done li{ float: left; font-size:14px; text-decoration:underline; padding-bottom:10px;}
  ul.done li span.preview{ width:147px; height:109px; border:1px solid #999999; float:left; background-color:#e6e6e6; background-repeat:no-repeat;}
*/
  div.left_bar span.heading_done{ width:200px; float:left; text-align: center; padding:15px 0px 0px 0px; font-size:18px}
  ul.done{ width:147px; float:left; list-style:none; margin-left:30px; padding:0px;}
  ul.done li{ font-size:14px; text-decoration:underline; padding-bottom:10px;}
  ul.done li span.preview{ width:147px; height:109px; border:1px solid #999999; background-color:#e6e6e6; background-repeat:no-repeat;}

  div.left_bar span.heading_working{ width:200px; float:left; text-align: center; padding:15px 0px 0px 0px; font-size:18px}
  ul.working{ width:147px; float:left; list-style:none; margin-left:30px; padding:0px;}
  ul.working li{ float: none; font-size:16px; padding-bottom:10px;  }
  ul.working li a, ul.working li a:visited{ color:#5c0404; text-decoration:none;  }
  ul.working li a:hover{color:#5c0404; text-decoration:underline;}
  .order_info {
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
}

.chat_form{ float:left; width:500px; height:120px; border:1px solid #e6e6e6;}
.msg_sender{ width:500px; height:81px;  float:left; padding:0px; margin:0px; border:none;}
.send_msg{ float: right; cursor:pointer;}

div.msg_content{ float: left; position:relative; width:500px; height:400px; overflow: hidden ;}
div.msg_from{ float:left; margin-left:25px;}
div.msg_to{ float: left; margin-left:65px;}
div.msg_from ul li{ color:#7c85b4;}
div.msg_to ul li{ color:#3acb22;}
ul.message{ list-style:none; font-size:12px; padding-bottom:5px; padding-left:10px;}
ul.message li{ float:left; padding-right:15px;}
span.message{ width:380px; min-height:65px; border:1px solid; float:left; padding:15px; font-size:13px; text-align:left;}
div.msg_from span.message{ border-color:#8f9eea; color:#7c85b4;}
div.msg_to span.message{ border-color:#3acb22; color:#318722}
