.multiattach {padding: 0px !important; }

.dropZone{
  font-size:14px;
  color:#8e8e8e;
  padding:7px 0px 0px 160px;
  float:left;
  height:67px;
  background-position:90px 3px;
  input[type="file"] {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
  }
  &.orderable_attachment {
    width: 300px;
    background-image:image-url("file_att.png");
    background-repeat:no-repeat;
    input[type="file"] {
      width: 48px;
      height: 67px;
    }
  }

  &.portfolio_item_attachment {
    background-image: image-url("add_.jpg"); background-repeat:no-repeat; margin:5px 0px 0px 5px; cursor:pointer;
  }

  border: none;

  margin: 0px;
  text-align: center;

  background-color: #eee;
  border: 1px solid #ccc;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  .hint{
    margin-top: 20px;
  }

  &.hover {
    background-color: #ddd;
    border-color: #aaa;
  }

  &.error {
    background-color: #faa;
    border-color: #f00;
  }

  &.drop {
    background-color: #afa;
    border-color: #0f0;
  }
}

body.registered, body.specialist {
  .dropZone.orderable_attachment {
    left: 149px;
    margin-left: 10px;
    input[type="file"] {
      left:102px;
    }
  }
}

body.unregistered {
  .dropZone.orderable_attachment {
    margin-left: 50px;
    input[type=file] {
      left: 157px;
    }
  }
}

.loaded_files {
  position: relative;
  z-index:10;
}
