.portfolio {
  position: relative;
  .delete_button {
    height: 13px;
    width: 13px;
    background-image: image-url('delete_attachment_2.png');
    background-repeat: no-repeat;
    float: left;
    margin: 5px 10px 5px 10px;
  }
}
.edit_profile_form {
  height: 400px;
  width: 500px;
  margin-top:100px;
  margin-left:250px;
  position: relative;
  .box {
    background-color: #fff;
    min-height: 350px;
    form {
      position:relative;
      min-height: 350px;
      .submit {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
      &.work_info_form, &.bio_info_form {
        textarea {
          margin-top: 20px;
          height: 230px;
        }
      }
    }
  }
}

#black_content {
  span.header {
    width:200px;
    text-align: center;
    padding:5px 0px 10px 0px;
    font-size:18px;
  }
}
