$plan_developments_color: #a8d868;
$plan_developments_color_light: #c2e893;

$replanning_endorsement_color: #e6c941;
$replanning_endorsement_color_light: #e6d480;

$design_projects_color: #f89f65;
$design_projects_color_light: #ffb584;

$engineering_systems_color: #99bbe1;
$engineering_systems_color_light: #bfcee1;

$registered_main_bg_color: #eae9e9;
