%div{:style => 'font-size: 20px;'}
  = @question_data.name
%table{:width => '100%', :border => '0', :cellspacing => '0', :cellpadding => '0'}
  %tr
    %th Название
    %th Должность

  %tr
    %td Название
    %td Должность