%div{:style => 'font-size: 20px; margin: 21px 0 10px 10px;'}
  dfkhgfjhlf
%table{:width => '100%', :border => '0', :cellspacing => '0', :cellpadding => '0'}
  %tr
    %th Название
    %th Должность

  %tr
    %td Название
    %td Должность