%div{:id => 'navigation'}
  %ul
    %li
      %a{:href => '#', :class => 'active'}
        %span Заказы
    %li
      %a{:href => '#'}
        %span Заказчики
    %li
      %a{:href => '#'}
        %span Специалисты
    %li
      %a{:href => '#'}
        %span Группы
    %li
      %a{:href => '#'}
        %span Заявки
    %li
      %a{:href => '#'}
        %span Отзывы