@import "settings";

body.registered {
  div.var_form1 {
    width: 360px;
    height: 355px;
    margin-left: 45px;
    margin-top: 30px;
    padding: 30px;
    line-height: 45px;
    margin-bottom: 25px;
    div.number {
      background-image: image-url("1_number_orrange.png");
      float: left;
      width: 86px;
      height: 29px;
    }
    div.form_description {
      background-image: image-url("form_input_data.png");
      width: 250px;
      float: left;
      height: 29px;
      margin-left: 15px;
    }
  }


  div.var_form2 {
    width: 450px;
    height: 470px;
    margin-left: 85px;
    margin-top: 15px;
    padding: 30px;
    margin-bottom: 25px;
    div.number {
      background-image: image-url("2_number_green.png");
      margin-left: 115px;
      float: right;
      width: 86px;
      height: 29px;
    }
    div.form_description {
      background-image: image-url("task.png");
      width: 196px;
      float: right;
      height: 29px;
      margin-left: 15px;
    }
    div.break_line {
      float: left;
      padding-bottom: 2px;
      padding-top: 2px;
      width: 450px;
      border-bottom: 1px #e9da95 dashed;
      height: 2px;
    }
  }

  div.kithen_split {
    width: 170px;
    float: left;
    height: 72px;
    padding-top: 15px;
    ul.answer {
      width: 250px;
      list-style: none;
      padding: 15px 0px 0px 60px;
      margin: 0px;
      li {
        float: left;
        margin-right: 10px;
      }
    }
  }

  div.kithen_size {
    width: 280px;
    height: 72px;
    float: left;
    padding-top: 15px;
    ul.answer {
      width: 160px;
      list-style: none;
      float: right;
      padding: 0px;
      margin: 0px;
      li {
        float: left;
        margin-right: 10px;
        padding-bottom: 10px;
      }
    }
  }

  div.changing_rooms {
    width: 170px;
    float: left;
    padding-top: 15px;
    height: 67px;
    ul.answer {
      width: 250px;
      list-style: none;
      padding: 10px 0px 0px 60px;
      margin: 0px;
      li {
        float: left;
        margin-right: 10px;
      }
    }
  }

  div.number_of_rooms {
    width: 260px;
    height: 62px;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
  }

  div.cabinets {
    width: 360px;
    float: left;
    padding: 20px 0px 20px 90px;
    ul.answer {
      width: 150px;
      list-style: none;
      margin: 0px;
      float: right;
      padding-right: 13px;
      li {
        float: left;
        margin-right: 10px;
      }
    }
  }

  div.guests {
    float: left;
    width: 460px;
    ul.answer {
      list-style: none;
      margin: 0px;
      float: right;
      padding: 0px;
      li {
        float: left;
        margin-right: 10px;
      }
    }
  }

  div.sleeping_places {
    width: 360px;
    float: left;
    padding: 20px 0px 0px 90px;
  }

  div.washing_machin {
    width: 360px;
    float: left;
    padding: 20px 0px 20px 70px;
    ul.answer {
      width: 120px;
      list-style: none;
      margin: 0px;
      float: right;
      padding-right: 25px;
      li {
        float: left;
        margin-right: 10px;
      }
    }
  }

  div.options {
    width: 420px;
    float: left;
    ul.answer {
      list-style: none;
      margin: 0px;
      padding-left: 155px;
      padding-top: 15px;
      li {
        float: left;
        margin-right: 10px;
      }
    }
  }

  div.var_form3 {
    width: 470px;
    height: 160px;
    margin-left: 45px;
    margin-top: 15px;
    padding: 30px;
    margin-bottom: 25px;
    div.number {
      background-image: image-url("3_number_blue.png");
      float: left;
      width: 86px;
      height: 29px;
    }
    div.form_description {
      background-image: image-url("comments.png");
      width: 370px;
      float: left;
      height: 29px;
      margin-bottom: 15px;
      margin-left: 10px;
    }
  }

  div.var_form4 {
    width: 505px;
    margin-left: 45px;
    margin-top: 15px;
    padding: 20px;
    margin-bottom: 25px;
    float: left;
    overflow: auto;
  }

  div.attach_box {
    padding: 20px 10px 10px 2px;
    position: absolute;

    &.plan_development {
      div.number {
        background-image: image-url("4_number_yellow_small.png");
        float: left;
        width: 84px;
        height: 30px;
        float: left;
        margin: 0px;
        padding: 0px;
        background-repeat: no-repeat;
      }
      div.form_description {
        background-image: image-url("file_attach_refactoring_small.png");
        width: 449px;
        float: left;
        height: 30px;
        background-repeat: no-repeat;
        margin: 0px;
        padding: 0px;
      }
    }
  }

  div.postvar_plan_submiting {
    height: 50px;
    width: 550px;
    margin-left: 60px;
    padding: 20px 0px 20px 0px;
  }

  .submit_all_forms {
    float: left;
    margin-right: 25px;
  }
}
