@import "settings";

body.registered {
  div.var_form1 {
    margin-top: 30px;
    .form_description.input_data {
      margin-left: 15px;
    }
  }

  div.var_form2 {
    height: 470px;
    margin-left: 85px;
    .form_description.job {
      margin-left: 15px;
    }
    div.break_line {
      border-bottom: 1px #e9da95 dashed;
    }
  }

  div.kithen_split {
    ul.answer {
      padding: 15px 0px 0px 60px;
    }
  }


  div.changing_rooms {
    ul.answer {
      padding: 10px 0px 0px 60px;
    }
  }

  div.cabinets {
    ul.answer {
      width: 150px;
      padding-right: 13px;
    }
  }

  div.washing_machin {
    ul.answer {
      width: 120px;
      padding-right: 25px;
    }
  }

  div.var_form3 {
    .form_description.wishes {
      margin-bottom: 15px;
      margin-left: 10px;
    }
  }

  div.var_form4 {
    width: 505px;
    padding: 20px;
    margin-bottom: 25px;
    float: left;
    overflow: auto;

    padding: 20px 10px 10px 2px;
    .number._4 {
      background-image: image-url("4_number_yellow_small.png");
      width: 54px;
      height: 23px;
      margin: 0px;
      padding: 0px;
    }
    .form_description.attach_file {
      background-image: image-url("file_attach_small.png");
      width: 450px;
      height: 22px;
      margin: 0px;
      padding: 0px;
    }
  }

  div.postvar_plan_submiting {
    margin-left: 60px;
  }

  div#order_mode{
    display:none;
  }
}
