body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
	
}

/*Config */
/* Menu fonts, table fonts, PostForm font */
@font-face {
    font-family: 'gardensc';
    src: font-url('gardensc/gardensc_03_1-webfont.eot');
    src: font-url('gardensc/gardensc_03_1-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('gardensc/gardensc_03_1-webfont.woff') format('woff'),
         font-url('gardensc/gardensc_03_1-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'monotype_corsiva';
	src:url('../fonts/MTCORSVA.TTF') format('truetype');
	font-weight: normal;
	font-style:normal;
}

/*Page captions */
@font-face {
    font-family: 'dejavu_sans';
    src: font-url('dejavusanscondensed/dejavusanscondensed-webfont.eot');
    src: font-url('dejavusanscondensed/dejavusanscondensed-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('dejavusanscondensed/dejavusanscondensed-webfont.woff') format('woff'),
         font-url('dejavusanscondensed/dejavusanscondensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* lol wtf*/
@font-face {
    font-family: 'minion_pro';
    src: font-url('minion_pro/minion_pro-webfont.eot');
    src: font-url('minion_pro/minion_pro-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('minion_pro/minion_pro-webfont.woff') format('woff'),
         font-url('minion_pro/minion_pro-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.shadow{ 	
-moz-box-shadow: inset 0 3px 15px 1px #888;
-webkit-box-shadow: inset 0 3px 15px 1px #888;
box-shadow: inset 0 3px 15px 1px #888;
}
.shadow_t2{
-moz-box-shadow: inset 0 -3px 5px 1px #888;
-webkit-box-shadow: inset 0 -3px 5px 1px #888;
box-shadow: inset 0 -3px 5px 1px #888;	
}


/* ~~ Element/tag selectors ~~ */
ul, ol, dl, div, span { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;	
	padding: 0; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}

a img { 
	border: none;
}
.registredContainer{
	font-family:gardensc, verdana, sans-serif;
	font-size:16pt;
	min-width:980px;
	background-image:image-url("MainContainerOnlyPalm.PNG"), image-url("madPalmFooter.PNG"), image-url("fon.jpg");
	background-repeat: no-repeat, no-repeat, repeat-y;
	background-position: center top, center bottom, top;
  margin-top:0px;
	background-attachment: fixed;

}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #42413C;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}
#sprite{background-image:image-url("Sprite.png");}
#sprite:hover{
	background-position:-20px;
	background-image:image-url("Sprite.png");}

/* ~~this fixed width container surrounds the other divs~~ */
.container {
	width: 980px;
	/*background-color: #FFF; GAZ UHODI */
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
  margin-top:0px;
}

/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.headerReg {
  position:relative;
  padding:0px;
  margin:0px;
}

.Logo{
  display:block;
  float:left;
  margin:49px 0px 44px 0px;
}
.topMenuBut{
	position:absolute;
	bottom:-25px;
	background-repeat:no-repeat;
}
#topMenuBut1{
	right:481px;
	width:133px;
	height:86px;
	background:image-url("HorMenuVarPlan.png");
}
#topMenuBut2{
	right:318px;  /*166+169+20=330*/
	width:155px;
	height:66px;
	background:image-url("horMenuPlanRefactoring.PNG");
}
#topMenuBut3{
  right:175px; /*141+5 */
	width:135px;
	height:87px;
	background:image-url("horMenuDesignProj.png");
}
#topMenuBut4{
	right:28px;
	width:140px;
	height:64px;
	background:image-url("HorMenuAuthorMaint.png");
}
.topMenuCaption{
	visibility:hidden;
}
/* end Header & HeaderNav */


/*Wrapper to show bg */
.BookCover{
	width:980px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	background:image-url("coverpatter.png") repeat;
  float:left;
}

#main_content{ float:left; position:relative; background-color:#eae9e9; margin:20px 0px 0px 20px; margin-bottom:20px;}

/*-------------- leftMenu -------------*/
.sidebar1 {
	float: left;
	width: 292px;
	position:relative;
	padding-bottom: 10px;
	z-index:2;
	font-size:18px;
}
.speceBetween{
	float:left;
	width:8px;
	height:910px;
}

/*---DesignElements---*/
.rightPages{
	width:14px;
	height:910px;
	background:image-url("PagesRightBorder.PNG") no-repeat;
	position:absolute;
	top:0px;
	right:-14px;
}
.leftPages{
	width:16px;
	height:909px;
	position:absolute;
	top:0px;
	left:-16px;
	background:image-url("PagesLeftBorder.png") no-repeat;
	z-index:1;
}
.springs{
	width:50px;
	height:100%;
	position: absolute;
	z-index:60;
	background:image-url("repeating_bar.png") no-repeat;
	background-repeat:repeat-y;
	margin:0px;
	padding:0px;
	right:620px;
}

.border_right{ 	
	width:12px;
	height:100%;
	position: absolute;
	z-index:60;
	right:0px;
	background-image:image-url("right_border.png");
	background-repeat:repeat-y;
}
div.border_right div.top_corner{ position:relative; width:12px; height:26px; background-image:image-url("right_top_corner.jpg"); }	
div.border_right div.bottom_corner{  position: absolute; width:12px; height:33px; bottom:0px; background-image:image-url("right_bottom_corner.jpg");}

.border_left{ 	
	width:6px;
	height:100%;
	position: absolute;
	z-index:60;
	right:934px;
	background-image:image-url("left_border.png");
	background-repeat:repeat-y;
}

div.border_left div.top_corner{ position:relative; width:6px; height:22px; background-image:image-url("left_top_corner.jpg"); }
div.border_left div.bottom_corner{ background-color:#000; position: absolute; width:6px; height:31px; bottom:0px; background-image:image-url("left_bottom_corner.jpg");}

.hiUserName{
	height:55px;
	width:300px;
	margin-top: 27px;
	background:#cee2b1;
	text-align: center;
}

#UserNameDisplay{
	font-family:gardensc, verdana, sans-serif;
	text-align:center;
}

.cabinetNavContainer{
	width:auto;
	height:255px;;
	color:#d55400;
	padding: 20px 0 0 50px;
	margin-bottom:47px;
	font-size:-1;
}
#order{
	color:#d55400;
}
#account{
	color:#d55400;
}
#laccount{
	margin-top:5px;
}
.settings{
	color:#434242;
	margin-top: 20px;
	margin-bottom: 60px;
}
#special{
	margin-bottom:10px;
}
#spec{
	color:#8d0606;
}
#thebest{
	margin-bottom:4px;
}
#best{
	color:#5a8720;
}
#work{
	color:#5a8720;
}
#ulSpace{
	height:50px;
}
ul li{
	list-style: none;
}


.mySpecialistNav a{
	color:#447801;
}
.mySpecialistNav a:first{
	color:#9a2424 !important; 
}
#navSpec a{
	color:#9a2424;	
}


/*
.specMenuContainer{
	width:332px;
	height:380px;
	margin-top:50px;
}
*/

.specMenuButton{
	margin:8px auto;
	width:203px;
	height:51px;
	padding:0px;
	background-image:image-url("menu-spec-reg.png");
 	background-repeat:no-repeat;
 }

.specMenuButton:hover{
	background-image:image-url("menu-spec-reg-hover.png");	
}
.specMenuCaption{
	font-family: gardensc, verdana, sans-serif, #fff;
	font-size: 12pt;
	font-stretch:ultra-condensed;
	font-style:normal;
	line-height:50px;
	color: #FFF;
	text-height:auto;
	text-align:center;
	z-index:6;
	/*margin-left:56px;*/
}
#specSelect{
	color:#8d0606;
	text-align:center;
	
}
/*endSpecMenu */

.calendarAnchor{
	margin: 8px auto;
	width:216px;
	height:144px;
	background:image-url("CalendarAnchor.PNG") no-repeat;
}

/*~~This page content universal~~ */

.content {
	position:relative;
	width: 640px;  /*original 680 px  but 980 -20x2 (bgPadding) -292px (sidebar1) - 8 (spaceBeetween) */
	float: left;
	z-index:1;
}

.caption{ 
  height: 40px;
  width: 600px;
  margin-top:27px;
  padding-top:15px;
  padding-left:40px;
  font-size:22px;
  font-weight: inherit;
}

.col_green{ color:#549202; }
.col_orrange{ color:#d55400;}
.col_rose{ color:#ecdfdf; }
.dark_yellow{color:#a78900}
.backgr_color_green{ background-color:#cee2b1;}
.backgr_color_rose{ background-color:#ecdfdf;}
.backgr_color_orrange{ background-color:#ebdea3}

div.manual{ padding-left:20px; width:570px; border-top:solid 2px; border-top-color:#949494; margin:15px auto auto 20px; padding-top:10px; color:#3d6804; font-size:19px; font-family:gardensc, Geneva, sans-serif;}


.thisPageContent{
	float:left;
	width:640px;
}
.cabinetHorNav{
	color:#d55400;
	margin-left:44px;
	margin-bottom:34px;
	background-color:#dbdbdb;
	width:593px;
	border-top:solid #767676;
	padding-left:15px;
	height:42px;
	line-height:42px;
	vertical-align:middle;
}
.cabinetHorNavlink:active, .cabinetHorNavlink:hover{
	color:#591d1d;
}
.cabinetHorNavllink:vistited{
	color:#591d1d;
}

.pageHr{
	background:#949494;
	color:#949494;
	width:604px;
}
/* ~~ The footer ~~ */

.footer{ 
	margin: 0 auto; /*Omg collapse */
	padding: 0 0px 0 0px;/* Buben */ 
	height : 119px;
	width:980px;
 	/* background-image:image-url("FooterBg.PNG");*/
} 
.footer p {
	margin: 0;
	color:#22550a;
	font: 16pt gardensc, Verdana, sans-serif; 
	padding: 10px 0;  /*Required courz margins are collapseable */
	-moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.26);
	-webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.26);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.26);
}

 .FooterCenter {
	text-align:center;
	float:left;
	margin-left:200px;
	width: 20%;
   }

.FooterLeft {
	text-align:left;
	float:left;
	width: 25;
   }

.FooterRight {
	float:right;
	text-align:right;
	width:20%;
	margin: 0px;
	padding: 0px;
   }	
	


/*EndFooter */
#delayed  {
	margin:20px auto;
	text-align:center;
}

#ads{ background-color:#dedede; float: left; position:relative; height:150px; width:980px; margin-top:5px; 	-moz-border-radius:50px;
	-webkit-border-radius:15px;
	border-radius:15px;}

#ads span{ margin:45px 0px 0px 400px; color:#999999; float:left;}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

#calendar{ margin-left:25px; float:left; margin-top:10px;}
-->
/* CSS Document */
/* ~~ These are the columns for the layout. ~~ 

1) Padding is only placed on the top and/or bottom of the divs. The elements within these divs have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a div set to float right). Many times, padding can be used instead. For divs where this rule must be broken, you should add a "display:inline" declaration to the div's rule to tame a bug where some versions of Internet Explorer double the margin.

3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar divs could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.

4) If you prefer your nav on the right instead of the left, simply float these columns the opposite direction (all right instead of all left) and they'll render in reverse order. There's no need to move the divs around in the HTML source.

*/
