@import "settings";

body.registered {
  /* PAGE CONCEPT REG_DESIGNERS.HTML */
  div.pagianter {
    float: right;
    margin-right: 10px;
    font-size: 12px;
    color: #989898;
    width: 150px;

    span {
      float: left;
      padding-right: 10px;
    }
  }
  div.styled-select {
    width: 41px;
    height: 17px;
    overflow: hidden;
    background: image-url("select_menu_button.png") no-repeat #FFFFFF;
    background-position: 24px -3px;
    border: 1px solid #838282;
    position: relative;
    select {
      background: transparent;
      width: 58px;
      font-size: 13px;
      line-height: 1;
      border: 0;
      border-radius: 0;
      height: 17px;
      -webkit-appearance: none;
      color: #787676;
    }
  }

  div.designers {
    background-image: image-url("designers.png") ;
    border-bottom-color: $design_projects_color;
    width: 500px;
    float: left;
    background-repeat: no-repeat;
    background-position: left -2px;
    height: 40px;
  }

  div.designers_list {
    float: left;
    clear: both;
    height: 104px;
    width: 630px;
    margin-top: 15px;
    background-color: #f5eae4;

    div.designer_no {
      width: 70px;
      height: 85px;
      background-color: #f5e1d8;
      float: left;
      margin-left: 35px;
      img {
        width: 70px;
        height: 50px;
        float: left;
      }
      span {
        color: #b70682;
        font-size: 16px;
        text-align: center;
        width: 70px;
        float: left;
        padding-top: 5px;
      }
    }

    div.designer_info {
      width: 380px;
      position: relative;
      padding: 5px 5px 5px 15px;
      float: left;
      color: #4c4c4c;
      div {
        width: 470px;
        float: left;
        &:nth-child(1) {
          padding-top: 10px;
          padding-bottom: 15px;
          font-weight: bold;
          font-size: 18px;
        }
        &:nth-child(2) { font-size: 14px; }
        span {
          padding: 0px;
          margin: 0px;
          float: left;
          &:nth-child(2) {
            color: #50880f;
            padding-left: 10px;
          }
        }
      }
    }

    div.portfolio {
      float: left;
      width: 105px;
      height: 89px;
      margin-top: 5px;
      img { padding: 5px 5px 5px 5px; }
      span {
        text-align: center;
        width: 105px;
        font-size: 14px;
        color: #9c4a0c;
        a {
          color: #9c4a0c;
          text-decoration: underline;
          &:hover { text-decoration: none; }
        }
      }
    }
  }

  ul.portfolio {
    list-style: none;
    width: 600px;
    overflow: auto;
    padding-bottom: 25px;
    margin: 0px;
    margin-left: 0px;
    li {
      float: left;
      padding-top: 15px;
      margin-right: 25px;
      img {
        width: 160px;
        height: 160px;
      }
    }
    li:nth-child(3) { margin: 0px; }
  }

  div.pages {
    ul {
      float: left;
      width: 200px;
      list-style: none;
      margin-left: 250px;
      padding: 0px;
      padding-top: 15px;
      li {
        float: left;
        padding: 5px;
        a {
          text-decoration: underline;
          color: #858585;
          &:hover {
            text-decoration: none;
            color: #46a815;
          }
        }
      }
      li.selected {
        a {
          color: #46a815;
          font-weight: bold;
        }
      }
    }

    span {
      border: none;
      color: #46a815;
      float: right;
      background-image: image-url("next.png");
      background-repeat: no-repeat;
      padding-right: 35px;
      margin-right: 35px;
      margin-top: 30px;
      background-position: right;
      a {
        border: none;
        color: #46a815;
        float: left;
        text-decoration: underline;
        &:hover { text-decoration: none; }
      }
    }
  }

  /* PAGE CONCEPT DESIGNERS_INFO.HTML */

  div.selected_designer {
    div.go_back {
      width: 93px;
      height: 86px;
      float: left;
      margin-left: 10px;
      background-image: image-url("go_back.png");
      margin-top: 9px;
      &:hover { background-image: image-url("go_back_hover.png"); }
    }
  }
}
