@import "settings";

body.registered {
  div.pagianter {
    float: right;
    margin-right: 10px;
    font-size: 12px;
    color: #989898;
    width: 150px;
    span {
      float: left;
      padding-right: 10px;
    }
  }

  div.styled-select {
    width: 41px;
    height: 17px;
    overflow: hidden;
    background: image-url("select_menu_button.png") no-repeat #FFFFFF;
    background-position: 24px -3px;
    border: 1px solid #838282;
    position: relative;
    select {
      background: transparent;
      width: 58px;
      font-size: 13px;
      line-height: 1;
      border: 0;
      border-radius: 0;
      height: 17px;
      -webkit-appearance: none;
      color: #787676;
    }
  }

  div.designers {
    width: 500px;
  }

  div.designers_list {
    width: 630px;
    margin-top: 15px;

    div.designer_no {
      width: 70px;
      height: 85px;
      margin-left: 35px;
      img {
        width: 70px;
        height: 50px;
      }
      span {
        width: 70px;
      }
    }

    div.designer_info {
      width: 380px;
    }
  }

  ul.portfolio {
    width: 600px;
    margin-left: 0px;
    li {
      margin-right: 25px;
      img {
        width: 160px;
        height: 160px;
      }
    }
  }

  div.pages {
    ul {
      float: left;
      width: 200px;
      list-style: none;
      margin-left: 250px;
      padding: 0px;
      padding-top: 15px;
      li {
        float: left;
        padding: 5px;
        a {
          text-decoration: underline;
          color: #858585;
          &:hover {
            text-decoration: none;
            color: #46a815;
          }
        }
      }
      li.selected {
        a {
          color: #46a815;
          font-weight: bold;
        }
      }
    }

    span {
      border: none;
      color: #46a815;
      float: right;
      background-image: image-url("next.png");
      background-repeat: no-repeat;
      padding-right: 35px;
      margin-right: 35px;
      margin-top: 30px;
      background-position: right;
      a {
        border: none;
        color: #46a815;
        float: left;
        text-decoration: underline;
        &:hover { text-decoration: none; }
      }
    }
  }

  div.selected_designer {
    float: left;
    clear: both;
    height: 104px;
    width: 630px;
    margin-top: 40px;
    background-color: #f5eae4;

    div.go_back {
      margin-left: 10px;
    }
    div.designer_info {
      width: 280px;
      position: relative;
      padding: 5px 5px 5px 15px;
      float: left;
      color: #4c4c4c;

      div {
        width: 270px;
        position: relative;
        padding: 5px 5px 5px 15px;
        float: left;
        color: #4c4c4c;
      }
    }
  }

  span.project_breaker {
    height: 1px ;
    width: 590px;
    float: left;
    background-color: #999999;
    margin-left: 25px;
  }
}
