@import "settings";

body.registered {

  div.design_p_sweep_wall {
    background-image: image-url("design_project_logo.jpg");
  }

  div.design_p_sweep_wall_form1 {
    width: 490px;
    float: left;
    .number._1 {
      margin-right: 10px;
    }

    div.file_attaching {
      width: 485px;
      span.caution {
        width: 430px;
        ul {
          li {
            font-size: 14px;
          }
        }
      }
      span.attach {
        padding: 20px 0px 20px 150px;
        background-position: 80px 0px;
        float: left;
        background-image: image-url("file_att.png");
        background-repeat: no-repeat;
        font-size: 14px;
        color: #8e8e8e;
      }
    }

    div.what_materials {
      width: 500px;
    }
  }

  div.design_p_sweep_wall_form2 {
    margin-bottom: 15px;
    float: left;
    margin-left: 45px;

    .form_description.wishes {
      margin-bottom: 15px;
      margin-left: 10px;
    }
  }

  .design_p_sweep_wall-caution2 {
    margin-left: 70px;
    width: 450px;
  }
  div.design_p_sweep_wall_submiting {
    float: left;
    margin: 10px 25px 15px 55px;
  }
}
