!!!
.caption
  %p ЛИЦЕВОЙ СЧЕТ
.cabinetHorNav
  %a.cabinetHorNavlink{:href => "#"} История
  %a.cabinetHorNavlink{:href => "#"} Пополнение
  %a.cabinetHorNavlink{:href => "#"} Договоры
  %a.cabinetHorNavlink{:href => "#"} Счета
  / end .cabinetNav
#Balance
  На лицевом счете: $BALANCE
.delayService
  %p Отложенные услуги
  / end .delayedService

.BalanceHistory
  %table.tableService{:style => "width:593px;  margin:0 auto;"}
    %tr#tableSeriveCaption.tableService{:style => "text-align:center;font-family:'Times New Roman', Times, serif; background-color:#e4e4e4; border-bottom-width:1px; border-left-width:0px; border-left-width:0px; height:20px;"}
      %td{:style => "text-align: center; width:200px;"} Услуга
      %td.tsSumm Сумма
      %td.tsStatus Статус
    %tr#jsAncor1
      %td.tsOrderType
        %a{:href => "#"}
          Разработка
          %br/
          дизайн-проекта
        %p.bhOrderDate Заказ от 23.03.2013
        %p{:align => "right"}
          %a{:href => "#"} Заказать
      %td.tsSumm 5000he,
      %td.tsStatus Не оплачено
  / end balanceHistory
.delayService
  %p История пополнения и расхода
  / end .delayService
.BalanceHistory
  %table.tableService{:style => "width:593px;  margin:0 auto;"}
    %tr.balanceHistoryTotal
      %td.bHDate
        Дата
      %td.bHSumm
        Сумма
      %td.bHServise
        Услуга
      %td.bhStatus
        Статус
    %tr.balanceHistory.statusOk
      %td.bHDate
        01.02.2013
      %td.bHSumm
        20 000 руб.
      %td.bHServise
        30 % Согласование
      %td.bhStatus
        Оплачен
    %tr.balanceHistory.statusComplete
      %td.bHDate
        27.01.2013
      %td.bHSumm
        25 000 руб.
      %td.bHServise
        Пополнение
      %td.bhStatus
        Выполненно
    %tr.balanceHistory.statusFalied
      %td.bHDate
        22.01.2013
      %td.bHSumm
        20 000 руб.
      %td.bHServise
        60% Согласование
      %td.bhStatus
        Требует оплаты
    %tr.balanceHistoryOdd.statusOk
      %td.bHDate
        27.01.2013
      %td.bHSumm
        25 000 руб.
      %td.bHServise
        Пополнение
      %td.bhStatus
        Выполненно
    %tr.balanceHistoryOdd.statusComplete
      %td.bHDate
        01.01.2013
      %td.bHSumm
        60 000 руб.
      %td.bHServise
        Пополнение
      %td.bhStatus
        Выполненно
