@import "settings";

body.unregistered {
  span.design_p_color_scheme {
    color: #c67700;
  }
  div.design_p_color_scheme {
    background-image: image-url("design_project_logo_big.jpg");
    border-bottom-color: $design_projects_color;
    width: 550px;
    float: left;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  div.msg_caution span.design_p_color_scheme {
    padding: 15px 0px 10px 115px;
  }

  div.design_p_color_scheme_form1 {
    width: 600px;

    div.file_attaching {
      width: 595px;
      span.caution {
      width: 550px;
      ol li { margin-bottom:10px; }
      }
      span.attach {
        padding: 30px 0px 0px 200px;
        margin-top: 0px;
      }
    }

    div.color_keyboard_block {
      span {
        margin-top: 20px;
        width: 300px;
      }
      div.color_keyboard {

      }
    }
  }


  div.design_p_color_scheme_form2 {
    margin-bottom: 25px;
  }

  .design_p_color_scheme-caution2 {
    margin-left: 90px;
  }

  div.design_p_color_scheme_submiting {
    height: 50px;
    width: 550px;
    margin-left: 160px;
    padding: 20px 0px 40px 0px;
    clear: both;
    overflow: hidden;
  }

  div.color_sliders {
    width: 500px;
    float: left;
    span.head { margin-left:100px; }
    ul {
      width: 610px;
      float: left;
      list-style: none;
      padding: 0px;
      margin: 0px;
      li {
        width: auto;
        width: 610px;
        float: left;
        span { float:left;  hight:30px; }
        span.left { text-align:right; width:140px;  line-height: 18px; padding-top: 20px; }
        span.slider_bar { width:300px; height: 3px; margin:25px 15px 0px 15px; background-color: #F3F0F0; }
        span.right { text-align:left; width:90px; line-height: 18px; line-height: 18px; padding-top: 20px; }
        }
    }
  }
}
