@import "settings";


body.unregistered 
  div.copyright {
    background-image: image-url("design_project_logo_big.jpg") ;
  }

  div.form_copyright {
    width: 685px;
    margin-top: 45px;
    span {
      padding: 30px 0px 0px 200px;
      background-position: 125px 0px;
    }
  }

  div.copyright_text {
    padding-left: 45px;
    width: 750px;
    margin-bottom: 85px;
    height: 45px;
  }
  span.copyright_ques {
    ul.answer {
      padding-right: 120px;
      li {
        float: none;
        margin-right: 10px;
      }
    }

    ul.select {
      padding-left: 10px;
      padding-right: 240px;
    }
  }

  div.copyright_ques_submiting {
    margin-left: 160px;
  }
}
