@import "settings";

body.unregistered {
  div.design_p_floor_plans {
    background-image: image-url("design_project_logo_big.jpg");
    width: 550px;
  }

  div.design_p_floor_plans_form1 {
    width: 600px;
    padding: 30px;

    div.file_attaching {
      width: 595px;

      span.caution {
        width: 480px;
        padding: 15px 0px 0px 55px;
        ul {
          padding: 0x;
        }
      }

      span.attach {
        padding: 20px 0px 20px 200px;
        background-position: 110px 0px;
      }
    }

    div.what_materials {
      width: 530px;
      padding-left: 90px;
    }

    div.room_blocks {
      width: 285px;
      margin-right: 15px;
    }
  }

  div.design_p_floor_plans_form2 {
    margin-left: 135px;
    margin-bottom: 25px;
  }

  .design_p_floor_plans-caution2 {
    margin-left: 90px;
  }

  div.design_p_floor_plans_submiting {
    height: 50px;
    width: 550px;
    margin-left: 160px;
    padding: 20px 0px 40px 0px;
    clear: both;
  }
}
