@import "settings";

body.unregistered {
  span.design_p_floor_plans { color:#c67700; }
  div.design_p_floor_plans {
    background-image: image-url("design_project_logo_big.jpg");
    border-bottom-color: $design_projects_color;
    width: 550px;
    float: left;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  div.msg_caution span.design_p_floor_plans {
    color: #3d6804;
    padding: 15px 0px 10px 115px;
    float: left;
  }

  div.design_p_floor_plans_form1 {
    width: 600px;
    margin-left: 45px;
    padding: 30px;
    line-height: 45px;
    margin-bottom: 25px;
    overflow: auto;
    clear: both;

    .number._1 {
      float: left;
    }
    .form_description.input_data {
      float: left;
    }

    div.file_attaching {
      width: 595px;
      min-height: 150px;
      margin-top: 10px;
      float: left;

      span.caution {
        color: #c10000;
        font-size: 17px;
        float: left;
        width: 480px;
        padding: 15px 0px 0px 55px;
        ul {
          float: right;
          list-style: none;
          margin: 0px;
          padding: 0x;
          line-height: 20px;

          li { float:none; }
        }
      }

      span.attach {
        padding: 20px 0px 20px 200px;
        margin-top: 0px;
        float: left;
        margin-top: 0px;
        height: 45px;
        background-position: 110px 0px;
      }
    }

    .number._2 {
      float: left;
      margin-right: 10px;
      margin-left: 0px;
      padding-bottom: 20px;
      margin-top: 20px;
    }

    .form_description.job {
      float: left;
      padding-bottom: 20px;
      margin-top: 20px;
      position: relative;
    }

    span.text {
      clear: both;
      position: relative;
      float: left;
    }

    div.depending {
      float: left;
      width: 370px;
      padding-left: 110px;
    }
    ul.answer {
      list-style: none;
      margin: 0px;
      padding-left: 55px;
      float: right;
      li {
        float: left;
        margin-right: 10px;
      }
    }


    div.what_materials {
      float: left;
      width: 530px;
      padding-left: 90px;
      float: left;
      span {
        padding-left: 35px;
        width: 450px;
      }
    }


    div.room_blocks {
      float: left;
      width: 285px;
      min-height: 266px;
      padding: 0px;
      margin-right: 15px;
      div.place { float:left; }
      ul {
        float: left;
        overflow: auto;
        margin: 5px 0px 0px 5px;
        list-style: none;
        padding: 10px 15px 10px 25px;
        font-size: 15px;
        li {
          float: none;
          line-height: 18px;
          margin-bottom: 10px;
          padding: 0px;
          label {
            width: 180px;
            padding: 0px;
            padding-left: 30px;
            float: left;
          }
        }
      }
    }
  }


  div.design_p_floor_plans_form2 {
    width: 470px;
    height: 160px;
    margin-left: 135px;
    margin-top: 15px;
    padding: 30px;
    margin-bottom: 25px;
    .number._3 {
      float: left;
    }
    .form_description.wishes {
      float: left;
    }
  }

  .design_p_floor_plans-caution2 {
    color: #e23a3a;
    text-align: center;
    float: left;
    margin-left: 90px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
  }
  div.design_p_floor_plans_submiting {
    height: 50px;
    width: 550px;
    margin-left: 160px;
    padding: 20px 0px 40px 0px;
    clear: both;
  }
}
