@import "settings";

body.unregistered {
  /*  LOGIN/ REGISTER */
  .messages .alert {
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    padding-left: 30px;
    background-color: #F5BDBD;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    width: 600px;
    margin-left: 100px;
    margin-top: 20px;
    color: #8B2222;
  }

  .login_form, .registration_form, .short_registration_form {
    input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
      padding: 0px;
      margin: 0px;
      border: none;
      height: 25px;
      font-size: 16px;
      color: #4c4c4c;
    }
  }
  .registration_form, .short_registration_form {
    input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
      width: 280px;
    }
  }
  .login_form {
    input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
      width: 200px;
    }
  }

  .login_panel {
    width: 184px;
    height: 131px;
    margin: 0px;
    padding: 0px;
    float: right;
    padding: 19px 0px 9px 0px;

    div.login {
      width: 34px;
      padding-top: 80px;
      background-image: image-url("lock_enter.png");
      background-position: top;
      background-repeat: no-repeat;
      text-align: center;
      color: #92716a;
      font-size: 14px;
      position: relative;
      float: left;
      cursor: pointer;
      &:hover { text-decoration:underline; }
    }

    div.registration {
      width: 128px;
      height: 80px;
      margin-left: 21px;
      background-image: image-url("key.png");
      background-position: 0px 15px;
      background-repeat: no-repeat;
      color: #656565;
      font-size: 14px;
      position: relative;
      float: left;
      cursor: pointer;
      &:hover { text-decoration:underline; }
    }
  }

  /*  REGISTER CLIENT BLOCK*/
  #register {
    height: 450px;
  }
  #forgot_password {
    height: 250px;
  }
  #register_stage2 {
    height: 350px;

    div.head_register{
      padding: 0px;
      margin: 30px 0px 60px 70px;
    }
    div.goto_login_fix{
      padding: 0px;
      margin-top: 34px;
      margin-left: 10px;
      float: left;
    }

    div.content{
      font-size: 20px;
      float: left;
      width: 470px;
      text-align: center;
      span a, a:link, a:active, a:visited{
        color: #ff805b;
        text-decoration:underline;
      }
      span a:hover{
        text-decoration:none;
      }
    }
    div.wish{
      width: 470px;
      clear: left;
      text-align: center;
      padding-top: 35px;
      padding-bottom: 40px;
      color: #69b308;
    }    
  }
  #register_short {
    height: 260px;
  }
  #register, #register_short, #register_stage2, #forgot_password {
    width: 477px;
    background-color: #FFFFFF;
    margin: 0px auto;
    position: relative;
    margin-top: 130px;
    font-family: Tahoma;
    display: none;

    div.head_recover {
      height: 29px;
      width: 447px;
      background-image: image-url("recovery.png");
      background-position: center;
      background-repeat: no-repeat;
      padding: 0px;
      float: left;
      margin: 30px 0px 20px 30px;
    }


    div.head_none {
      height: 29px;
      width: 220px;
      background-image: image-url("register_logo.png");
      background-position: left;
      background-repeat: no-repeat;
      padding: 0px;
      float: left;
      margin: 30px 0px 40px 30px;
    }

    div.info {
      width: 120px;
      float: left;
      margin-left: 10px;
      text-align: right;
      padding-right: 10px;
      margin-bottom: 30px;
      font-size: 16px;
      color: #4c4c4c;
      clear: both;
      span { color:#990000; }
    }

    div.text_fields {
      float: left;
      width: 287px;
      margin-bottom: 30px;
      border-bottom: 1px solid #acacac;
      padding-top: 2px;
      span.caution {
        position: absolute;
        width: 250px;
        margin-top: 28px;
        font-size: 12px;
      }
    }
    div.control {
      height: 30px;
      float: left;
      width: 477px;
    }
    div.control.ok_button {
      input {
        float: right;
      }
    }
  }
  div.clear {
    clear: both;
  }

  /*  LOGIN CLIENT BLOCK*/
  #login {
    width: 412px;
    height: 270px;
    background-color: #FFFFFF;
    margin: 0px auto;
    position: relative;
    margin-top: 200px;
    font-family: Tahoma;
    display: none;

    div.head_none {
      height: 29px;
      width: 160px;
      background-image: image-url("register_logo_small.png");
      background-repeat: no-repeat;
      padding: 0px;
      float: left;
      margin-top: 40px;
    }

    div.info {
      width: 165px;
      float: left;
      margin-left: 0px;
      text-align: right;
      padding-right: 4px;
      margin-bottom: 25px;
      font-size: 16px;
      color: #4c4c4c;
      clear: both;
    }

    div.text_fields {
      float: left;
      width: 200px;
      margin-bottom: 25px;
      border-bottom: 1px solid #acacac;
      padding-top: 2px;
    }

    div.control {
      height: 30px;
      float: left;
      width: 412px;
      span {
        font-size: 18px;
        color: $plan_developments_color;
        padding-left: 25px;
        float: left;
        a, a:link, a:visited, a:active {
          color: $plan_developments_color;
          text-decoration: underline;
        }
        a:hover { text-decoration:none; }
      }
    }
  }


    .head_login {
      height: 29px;
      width: 115px;
      background-image: image-url("enter_logo.png");
      background-repeat: no-repeat;
      float: left;
    }

    .goto_register {
      height: 29px;
      width: 170px;
      background-image: image-url("register_logo_small.png");
      background-repeat: no-repeat;
      float: left;
      &:hover {
        background-image: image-url("register_logo_small_hover.png");
        cursor: pointer;
      }
    }

    .head_register {
      height: 29px;
      width: 220px;
      background-image: image-url("register_logo.png");
      background-position: left;
      background-repeat: no-repeat;
      float: left;
    }

    .goto_login {
      height: 25px;
      width: 100px;
      background-image: image-url("enter_logo_small.png");
      background-repeat: no-repeat;
      float: left;
      &:hover {
        background-image: image-url("enter_logo_small_hover.png");
        cursor: pointer;
      }
    }

  #login {
    .head_login {
      margin: 30px 0px 40px 30px;
    }
    .goto_register {
      padding: 0px;
      margin-top: 37px;
    }
  }
  #register {
    .head_register {
      padding: 0px;
      margin: 30px 0px 40px 30px;
    }
    .goto_login {
      padding: 0px;
      margin-top: 34px;
      margin-left: 10px;
    }
  }

  #register_short {
    .goto_login {
      padding: 0px;
      margin: 30px 0px 40px 30px;
    }
    .goto_register {
      padding: 0px;
      margin: 30px 0px 40px 30px;
    }
  }


  .submit_button {
    float: right;
    padding-right: 40px;
  }

  .login_button {
    float: right;
    padding-right: 40px;
  }


  /* PASSWORDS */
  div#forgot_password {
    margin-left: 185px;
    margin-top: 45px;
    div.form-inputs { margin-top:15px; }
    div.form-actions { margin-top:45px; }
  }
}
