body.unregistered {
  span.plan_refactoring{ color:#ccb545; }
  div.plan_refactoring{ background-image:image-url("plan_refactoring_logo_big.jpg") ; border-bottom-color:#edd358; width:550px; float:left;   }

  div.msg_caution span.plan_refactoring{ color:#bd3404; text-align: center; width:780px;  font-size:16px; padding-top:15px; float:left; margin:0px; padding-bottom:15px;}

  div.plan_refactor{ padding-left:45px; margin-top:20px;   width:750px;  position:relative; float:left;   margin-bottom:35px; height:45px; position: relative; line-height:25px;}

  span.plan_refactor ul.answer{ list-style:none;  margin:0px;  padding-left:10px; float: right; padding-right:120px;}
  span.plan_refactor ul.answer li{ float:left;  margin-right:10px; }

  div.form_refactoring{ width:685px;  margin-left:45px; padding:20px; margin-top:15px; clear:left; }
  div.form_refactoring div.form_description{ background-image:image-url("file_attach_refactoring.png"); width:585px; float:left; height:30px; background-repeat:no-repeat; }

  div.planrefactoring_submiting{  height:80px; width:550px; margin-left:160px; padding:40px 0px 60px 0px;  }
  .form_refactoring div.form_description{ padding-bottom:0px; }
}
