body.unregistered {
  span.plan_refactoring { color:#ccb545; }
  div.plan_refactoring {
    background-image: image-url("plan_refactoring_logo_big.jpg");
    border-bottom-color: #edd358;
    width: 550px;
    float: left;
  }

  div.msg_caution {
    span.plan_refactoring {
      text-align: center;
      width: 780px;
      font-size: 16px;
      padding-top: 15px;
    }
  }

  div.plan_refactor {
    width: 750px;
  }

  span.plan_refactor {
    ul.answer {
      padding-left: 10px;
      padding-right: 120px;
    }
  }

  div.form_refactoring {
    width: 685px;
    padding: 20px;
    clear: left;
  }

  .form_description.attach_plan_for_refactoring {
    padding-bottom: 0px;
  }

  div.planrefactoring_submiting {
    margin-left: 160px;
  }
}
