@import "settings";

body.unregistered {
  /*  PAGE CONCEPT DESIGNERS.HTML */
  span.designers{ 
    color:#ca3932; 
    padding-top:10px; 
    float:left; 
  }
  div.designers{ 
    background-image:image-url("designers.png"); 
    border-bottom-color:$design_projects_color; 
    width:550px; 
    float:left; 
    background-repeat:no-repeat; 
    background-position:left -2px; 
    height:40px;
  }

  div.designers_list{ 
    float:left;
    clear:both; 
    height:104px; 
    width:817px; 
    margin-top:40px; 
    background-color:#f5eae4;

    div.designer_no{ 
      width:93px; 
      height:103px; 
      background-color:#f5e1d8; 
      float:left; 
      margin-left:50px;
      img{ 
        width:92px; 
        height:71px; 
        float:left;
      }
      span{ 
        color:#b70682; 
        font-size:16px; 
        text-align:center; 
        width:92px; 
        float:left; 
        padding-top:5px;
      }
    }
    
    div.designer_info{ 
      width:487px; 
      position:relative; 
      padding:5px 5px 5px 15px; 
      float:left; 
      color:#4c4c4c;  

      div{ 
        width:470px; 
        float:left;
        span { 
          padding:0px; 
          margin:0px; 
          float:left; 
        }
        a, &:visited{ color: #4c4c4c;}
        span:nth-child(2){ 
          color:#50880f; 
          padding-left:10px;
        }

        &:nth-child(1){ 
          padding-top:10px; 
          padding-bottom:15px; 
          font-weight:bold; 
          font-size:18px; 
        }
        &:nth-child(2){ font-size:14px;}
      }
    }

    div.portfolio{ 
      float: left; 
      width:105px; 
      height:89px; 
      margin-top:5px;
      img{ padding:5px 5px 5px 5px; }
      span{ 
        text-align:center; 
        width:105px; 
        font-size:14px; 
        color:#9c4a0c;
        a{  
          color:#9c4a0c; 
          text-decoration:underline;  
          &:hover{ text-decoration:none;}
        }
      }
    }
  }

  ul.portfolio{ 
    list-style:none; 
    width:775px;  
    overflow:auto; 
    padding-bottom:25px; 
    margin:0px; 
    margin-left:10px;
    li:nth-child(3){ margin:0px;}
    li{ 
      float:left; 
      padding-top:15px; 
      margin-right:85px;
      img{ 
        width:185px; 
        height:185px;
      }
    }
  }
  
  /*  PAGE CONCEPT DESIGNERS_INFO.HTML */

  div.selected_designer {
    div.go_back{ 
      width:93px; 
      height:86px; 
      float:left; 
      margin-left:50px; 
      background-image:image-url("go_back.png"); 
      margin-top:9px;
      &:hover{ background-image:image-url("go_back_hover.png"); }
    }
  }
}
