@import "settings";

body.unregistered {
  /*  PAGE CONCEPT INDEX.HTML */
  div#maincontent_index {
    height: 760px;
    position: relative;
    margin: 0px;
    padding: 0px;
    background-image: image-url("collag.jpg");
  }

  // FOR DEFAULT PAGES
  div#maincontent_default {
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: #dedede;
    height: auto;
    width: auto;
  }
  div.page_content_default {
    width: 817px;
    background-color: #f6f6f6;
    padding: 0px;
    height: auto;
    min-height: 740px;
  }
  div.collage_design {
    position: relative;
    width: 817px;
    height: 50px;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    background-image: image-url("collag.jpg");
    background-position: 1px -400px;
  }
  div.mode1 { } /* COLLAG CLASSES*/
  div.mode2 { background-image:image-url("default_collag.jpg"); }

  .page_description {
    position: relative;
    margin: 25px 0px 0px 50px;
    background-repeat: no-repeat;
    height: 31px;
    padding: 10px 180px 25px 0px;
    border-bottom: 2px solid;
    width: 550px;
    span {
      padding-left: 85px;
      font-size: 30px;
      float: left;
      width: 650px;
    }
  }

  div.msg_caution {
    font-size: 17px;
    position: relative;
    width: 680px;
    float: left;
  }
  .number {
    margin-right: 10px;
    margin-left: 0px;
    padding-bottom: 20px;
  }
  .form_description {
    padding-bottom: 20px;
  }

  div.file_attaching span.attach {
    font-size: 14px;
    color: #8e8e8e;
    padding: 30px 0px 0px 200px;
    float: left;
    background-image: image-url("file_att.png");
    background-repeat: no-repeat;
    height: 67px;
    background-position: 125px 15px;
    margin-top: 15px;
  }


  /*  PAGE STYLES */
  div.border_ornements {
    width: auto;
    position: relative;
    padding-bottom: 90px;
    background-image: image-url("fon-y.jpg");
    background-repeat: repeat-y;
    background-position: center 0px;
    min-width: 980px;
  }
  .header_top {
    background-image: image-url("fon-head.jpg");
    background-repeat: no-repeat;
    background-position: center 0px;
    width: auto;
    position: relative;
    z-index: 1;
    min-width: 980px;
  }
  .coconut_leaves {
    background-image: image-url("coconut_leaves.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    width: auto;
    position: relative;
    z-index: 1;
    min-width: 980px;
  }
  #black_content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-image: image-url("black_content.png");
    background-repeat: repeat;
    display: none;
    min-width: 980px;
  }
  #header {
    height: 128px;
    margin: 0px;
    padding: 0px;
    width: auto;
    clear: both;
    background-position: -100px;
    background-repeat: no-repeat;
    div.lighter_bar {
      position: absolute;
      width: 850px;
      height: 150px;
      z-index: -4;
      margin-left: -100px;
      background-image: image-url("lighter_long.png");
      background-position: -60px 0px;
      background-repeat: no-repeat;
    }
  }
  .headerLayer1 {
    background-image: image-url("logo.png");
    float: left;
    width: 527px;
    height: 49px;
    margin: 40px 0px 0px 20px;
  }

  /*  DEFAULT CLASSES */
  .border_x1 {border:8px solid $design_projects_color_light; }
  .border_x2 {border:8px solid $plan_developments_color_light; }
  .border_x3 {border:8px solid $engineering_systems_color_light; }
  .border_x4 {border:8px solid $replanning_endorsement_color_light; }

  .border_x5 {border:1px solid #c1c1c1; }
  .border_x6 { border:1px solid $plan_developments_color; }

  .textlines_default {
    background-color: #f6f6f6;
  }

  div.var_form1 span.subtitle {
    font-size: 12px;
    position: relative;
    margin-left: 70px;
    left: 0px;
    float: left;
    margin-top: -20px;
  }

  input[type='radio'] {
    float: left;
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
  }

  input[type='radio'] + label {
    clear: none;
    padding: 2px 0 0px 24px;
    cursor: pointer;
    background-image: image-url("circleN.png");
    background-repeat: no-repeat;
  }

  input[type='radio']:checked + label {
    background-image: image-url("circleY.png");
    background-repeat: no-repeat;
    padding: 2px 0 0px 24px;
  }


  input[type='checkbox'] {
    float: left;
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
  }

  input[type='checkbox'] + label {
    background-image: image-url("box_not_cheked.png");
    background-repeat: no-repeat;
    padding: 3px 0 0px 40px;
    cursor: pointer;
    height: 35px;
  }

  input[type='checkbox']:checked + label {
    background-image: image-url("box_checked.png");
    background-repeat: no-repeat;
    padding: 3px 0 0px 40px;
    cursor: pointer;
  }

  div.more_headings {
    border-bottom-color: $plan_developments_color;
    margin-bottom: 5px;
    float: left;
    width: 550px;
  }

  span.more_headings {
    margin-left: 0px;
    padding: 0px;
    color: #3d6804;
  }

  div.page_description span.more_headings { padding-left:0px; }

  .reg_client_tfeild {
    width: 280px;
    padding: 0px;
    margin: 0px;
    border: none;
    height: 25px;
    font-size: 16px;
    color: #4c4c4c;
  }
  .log_client_tfeild {
    width: 200px;
    padding: 0px;
    margin: 0px;
    border: none;
    height: 25px;
    font-size: 16px;
    color: #4c4c4c;
  }
  .close_fly_window {
    background-image: image-url("close.png");
    width: 30px;
    height: 26px;
    position: absolute;
    right: 0px;
    margin-top: -40px;
    cursor: pointer;
  }

  div.attach_place_for_box {
    position: relative;
    float: left;
    width: 500px;
    min-height: 80px;
    overflow: auto;
    margin-top: 5px;
  }
  .attach_box {
    position: absolute;
    z-index: 34;
  }

  ul.list_of_attachments {
    width: 480px;
    position: relative;
    clear: both;
    overflow: auto;
    z-index: 80;
    padding-top: 8px;
    li { float:left; }
  }


  div.calculator {
    margin-left: 170px;
  }
}
