.left_message{
	float: left; 
	margin-left: 40px;
}
.right_message{
	float: right; 
	margin-right: 40px;
}
.data_message{
	width: 60%; 
	/*height: 100px;
	background: #ccc;*/
	margin-top: 7px;
	margin-bottom: 7px;

	-webkit-border-top-left-radius: 20px; 
	-webkit-border-top-right-radius: 20px; 
	-webkit-border-bottom-right-radius: 20px; 
	-webkit-border-bottom-left-radius: 20px;

	border: 2px solid #ba4c32;
}
.body_message{
	width: 100%;
}
.left_message_text{
	float: left; 
	/*width: 50%;*/
	padding: 5px 10px;
	display: inline-block;
}
.right_message_text{
	float: left; 
	/*width: 50%;*/
	padding: 5px 10px;
	display: inline-block;
}