<ul id="left_menu">
  <li><a href="reg_my_orders.html">Мои заказы</a></li>
  <li><a href="#">Лицевой счет</a></li>
  <li><a href="#">Мои настройки</a></li>
  <li>МОИ СПЕЦИАЛИСТЫ</li>
  <li><a href="#">Избранные</a></li>
  <li><a href="#">Работают</a></li>
</ul>