.footer
  .footer_elements
    .contact_with_us
      Связаться с нами:
      %br/
      Тел: +7 (495) 123-45-67
      %br/
      = mail_to 'info@design-servis.ru' do
        E-mail: info@design-servis.ru
    .rights 
      = link_to root_url do
        Дизайн-Сервис©2О12
    .partners
      Партнеры:
      %br/
      Банк-Идей
      %br/
      www-студия
