.footer
  .footer_elements
    .contact_with_us
      Связаться с нами:
      %br/
      Тел: +7 (495) 123-45-67
      %br/
      E-mail:
      %a{:href=>"mailto:info@dsn-service.ru"}info@dsn-service.ru
    .rights Дизайн-Сервис©2О12
    .partners
      Партнеры:
      %br/
      Банк-Идей
      %br/
      www-студия
