<div class="footer">
  <div class="footer_elements">
    <div class="contact_with_us">
      Связаться с нами:<br>
      Тел: +7 (495) 123-45-67<br>
      E-mail: info@design-servis.ru
    </div>
    <div class="rights">Дизайн-Сервис©2О12</div>
    <div class="partners">
      Партнеры:<br>
      Банк-Идей<br>
      www-студия
    </div>
  </div>
</div>