%span.heading_groups МОИ ГРУППЫ
%ul.my_groups
  %li
    .img_group
      %span.img_group_border
      %img.group_image{:src => "#{ asset_path("designer_icon_not_reg.jpg") }"}/
    %ul/
    %a{:href => "reg_group_specialist.html"}
  %li Союз [Ромашка]
  %li 4 участников