/ ------------------------------------------------- BLACK_PALET START MSGBOX--------------
#black_content
  #msg_dialog.shadow_x1.border_xs.rounded-corners
    .close_fly_window
    .order_name
    .left_bar
      %span.heading.gray_header Исполнители
      %span.photo
      %span.name
        Журавлев
        = succeed "Михаил" do
          %br/
      %span.heading_done.dark_green_header Выполнено
      %ul.done
        %li
          %span>
          План 1
        %li
          %span>
          План 2
        %li
          %span>
          План 3
      %span.heading_working.dark_red В разработке
      %ul.working
        %li
          %span
          %a{:href => "#"} План 4
        %li
          %span
          %a{:href => "#"} План 5
        %li
          %span
          %a{:href => "#"} План 6
        %li
          %span
          %a{:href => "#"} План 7
    .msg_content
      / -----------------------------------------
      = render partial: 'messages/message_in_chat', collection: messages, as: :message
      / -----------------------------------------
    .send_msg
      %form#msg_form{:data => {:url => "#{messages_path}" } }
        %textarea.msg_sender{:cols => "", :name => "text", :rows => ""}
        %input.send_msg{:name => "submit", :src => "msg_send.jpg", :type => "image"}/
    .order_data_bottom
      %span
        %a{:href => "#"} Исходные данные
/ ------------------------------------------------- BLACK_PALET END MSGBOX--------------
