%ul#menu_sub_left
  %li.architector
    %a{:href => specialist_groups_path(specialization: 'architector')}
      %span Архитекторы
  %li.designer
    %a{:href => specialist_groups_path(specialization: 'designer')}
      %span Дизайнеры
  %li.engineer
    %a{:href => specialist_groups_path(specialization: 'engineer')}
      %span Инженеры
  %li.building_company
    %a{:href => specialist_groups_path(specialization: 'building_company')}
      %span Строительные фирмы
  %li.building_brigade
    %a{:href => specialist_groups_path(specialization: 'building_brigade')}
      %span Строительные бригады
