<div id="block_menu">
  <p>Выбери</p>
	<ul>
		<li></li>
		<li><a href="PostVarPlan.html"><span>Разработка <br>вариантов планировок</span></a></li>
		<li><a href="PlanRefactoring.html"><span>Согласования перепланировок</span></a></li>
		<li></li>
		<li></li>
		<li><a href="design_project.html"><span>Дизайн-проект</span></a></li>
		<li><a href="engineering_systems.html"><span>Инженерные <br>системы и конструктив</span></a></li>
		<li></li>
	</ul>
</div>