%ul
  %li
    %a{:href => plan_developments_path}
      %span
        %p
          Разработка
          = succeed "вариантов" do
            %br/
          планировок
  %li
    %a{:href => replanning_endorsements_path}
      %span
        %p Согласования перепланировок
  %li
    %a{:href => "design_project.html"}
      %span
        %p Дизайн-проект
  %li
    %a{:href => engineering_systems_path}
      %span
        %p
          Инженерные
          = succeed "системы" do
            %br/
          и конструктив
